In [3]:
import pandas as pd
import numpy as np
import pathlib
import glob
import os

## Check if trackviews are complete

In [4]:
col_desc = pd.read_excel('../../data/column_descriptors_standardized.xlsx')

In [6]:
col_desc.head(10)

,column_ID,wig_files,control,experimental,column_ID_2,column_ID_SI,num_replicates_control,num_replicates_experimental,meaning,year,...,in_vitro_media,carbon_source,stress_description,GI_RvID,GI_name,MicArr_or_TnSeq,stat_analysis,mouse_strain,cell_type,Mtb_strain
0,2003A_Sassetti,NaN,NaN,NaN,NaN,2003A_Sassetti,NaN,NaN,NaN,2003.0,...,7H10,glycerol,-,NaN,NaN,microarray,NaN,NaN,NaN,NaN
1,2003B_Sassetti,NaN,NaN,NaN,NaN,2003B_Sassetti,NaN,NaN,NaN,2003.0,...,-,-,NaN,NaN,NaN,microarray,NaN,NaN,NaN,NaN
2,2005_Rengarajan,NaN,NaN,NaN,NaN,2005_Rengarajan,NaN,NaN,NaN,2005.0,...,-,-,-,NaN,NaN,microarray,NaN,NaN,NaN,NaN
3,2006_Joshi_GI_1,NaN,NaN,NaN,NaN,2006_Joshi_GI_1,NaN,NaN,NaN,2006.0,...,-,-,NaN,Rv0173,NaN,microarray,NaN,NaN,NaN,NaN
4,2006_Joshi_GI_2,NaN,NaN,NaN,NaN,2006_Joshi_GI_2,NaN,NaN,NaN,2006.0,...,-,-,NaN,Rv3502c,NaN,microarray,NaN,NaN,NaN,NaN
5,2011_Griffin_2,1.0,griffin_glycerol,griffin_cholesterol,griffin_cholesterol_vs_griffin_glycerol,2011_Griffin_2,2.0,3.0,Mutants exhiting altered fitness during choles...,2011.0,...,minimal_media,cholesterol,-,NaN,NaN,TnSeq,NaN,NaN,NaN,H37Rv
6,2012_Zhang,NaN,NaN,NaN,NaN,2012_Zhang,NaN,NaN,Mutants exhibiting altered fitness in growth o...,2012.0,...,7H10,glycerol,-,NaN,NaN,TnSeq,NaN,NaN,NaN,H37Rv
7,2013_DeJesus,1.0,mbio_H37Rv,griffin_glycerol,griffin_glycerol_vs_mbio_H37Rv,NaN,14.0,2.0,NaN,2013.0,...,NaN,glycerol,-,NaN,NaN,TnSeq,NaN,NaN,NaN,NaN
8,2013_Zhang_1A,1.0,zhang_input_library,zhang_wt_mouse_d10,zhang_wt_mouse_d10_vs_zhang_input_library,2013_Zhang_1A,1.0,3.0,Mutants exhibiting altered fitness in mouse in...,2013.0,...,-,-,NaN,NaN,NaN,TnSeq,NaN,WT,NaN,NaN
9,2013_Zhang_1B,1.0,zhang_input_library,zhang_wt_mouse_d45,zhang_wt_mouse_d45_vs_zhang_input_library,2013_Zhang_1B,1.0,3.0,Mutants exhibiting altered fitness in mouse in...,2013.0,...,-,-,NaN,NaN,NaN,TnSeq,NaN,WT,NaN,NaN

In [7]:
col_desc.column_ID_SI.unique()

array(['2003A_Sassetti', '2003B_Sassetti', '2005_Rengarajan',
       '2006_Joshi_GI_1', '2006_Joshi_GI_2', '2011_Griffin_2',
       '2012_Zhang', nan, '2013_Zhang_1A', '2013_Zhang_1B',
       '2013_Zhang_2', '2013_Zhang_3A', '2013_Zhang_3B', '2013_Zhang_3C',
       '2013_Zhang_3D', '2015_Kieser_GI_1', '2015_Kieser_GI_2',
       '2015_Kieser_GI_3', '2015_Mendum', '2016_Nambi', '2016_Korte',
       '2017B_DeJesus_1A', '2017B_DeJesus_1B', '2017B_DeJesus_1C',
       '2017_Xu_1A', '2017_Xu_1B', '2017_Xu_1C', '2017_Xu_1D',
       '2017_Xu_1E', '2017_Mishra_1', '2017_Mishra_2', '2018_Carey_1A',
       '2018_Carey_1B', '2018_Carey_1C', '2018_Carey_1D', '2018_Carey_1E',
       '2018_Carey_1F', '2018_Carey_1G', '2018_Carey_1H',
       '2018_Rittershaus_1B', '2018_Rittershaus_1A'], dtype=object)

In [7]:
# check if trackviews exist
# trackview_folders = list(pathlib.Path(
#     r'C:\Users\light\Dropbox\tuberculosis\tuberculosis\TrackView').glob('*'))
# trackview_names = [os.path.basename(x) for x in trackview_folders]

In [5]:
# all_conditions = list(col_desc['control']) + list(col_desc['experimental'])

In [6]:
# set(all_conditions).difference(set(trackview_names))

{'nambi_2015_ctpC',
 'nambi_2015_wt',
 'xu_emb_0',
 'xu_emb_2.5',
 'xu_emb_3',
 'xu_inh_0',
 'xu_inh_02',
 'xu_inh_025',
 'xu_mero_0',
 'xu_mero_2.5',
 'xu_rif_0',
 'xu_rif_4',
 'xu_van_0',
 'xu_van_16'}

## make_std_data_dash

In [12]:
col_desc = pd.read_excel('../../data/column_descriptors_standardized.xlsx')
col_desc = col_desc.rename(columns={'column_ID_2': 'column_ID_std'})

In [13]:
lfc = pd.read_csv(
    '../../data/standardized_data/result_logfc_matrix_2020_08_27.csv')

In [14]:
qval = pd.read_csv(
    '../../data/standardized_data/result_qval_matrix_2020_08_27.csv')

In [15]:
gene_names = pd.read_excel(
    '../../data/annotations/DeJesus_mbio.xlsx', header=1)
gene_names.head()

,ORF ID,Name,Description,Number of TA Sites,Number of Permissive (P) Sites,Number of Non-Permissive (NP) Sites,Number of Sites Belonging to Essential State,Number of Sites Belonging to Growth-Defect State,Number of Sites Belonging to Non-Essential State,Number of Sites Belonging to Growth-Advantage State,Fraction of Sites with Insertions,Mean Normalized Read-Count At Non-Zero Sites,Final Call
0,Rv0001,dnaA,Chromosomal replication initiator protein DnaA,32,29,3,31,0,1,0,0.125000,45.000000,ES
1,Rv0002,dnaN,DNA polymerase III (beta chain) DnaN (DNA nucl...,31,27,4,31,0,0,0,0.032258,1.000000,ES
2,Rv0003,recF,DNA replication and repair protein RecF (singl...,35,32,3,0,0,35,0,0.857143,38.033333,NE
3,Rv0004,-,hypothetical protein,8,8,0,0,0,8,0,0.375000,144.000000,NE
4,Rv0005,gyrB,DNA gyrase (subunit B) GyrB (DNA topoisomerase...,40,36,4,39,0,1,0,0.025000,26.000000,ES

In [16]:
gene_names = gene_names.rename(
    columns={'Name': 'gene_name', 'ORF ID': 'Rv_ID'})

In [17]:
set(lfc.columns).difference(set(qval.columns))

set()

In [18]:
set(qval.columns).difference(set(lfc.columns))

set()

In [19]:
col_ID_standardized = list(col_desc.column_ID_std.unique())

In [20]:
set(qval.columns).difference(set(col_ID_standardized))

{'Rv_ID'}

In [21]:
set(col_ID_standardized).difference(set(qval.columns))

{nan}

In [22]:
lfc.head()

,Rv_ID,PE35_KO_vs_mbio_H37Rv,PPE68_KO_vs_mbio_H37Rv,Rv0950c_KO_vs_CB_WT,Rv0954_KO_vs_RJ_WT,Rv1096_KO_vs_CB_WT,Rv3005c_KO_day32_vs_dejesus_H37Rv_day32,Rv3594_KO_vs_Rubin_FLUTE_WT,Rv3684_KO_vs_CB_WT,Rv3717_KO_vs_Rubin_FLUTE_WT,...,zhang_AA_Rescue_vs_zhang_in_vitro_control_Rescue,zhang_DETA-NO_pH_7.0_vs_zhang_pH_7.0_no_NO_control,zhang_Fe_1.5mM_vs_zhang_Fe_450uM,zhang_Trp_Rescue_vs_zhang_in_vitro_control_Rescue,zhang_Tyloxapol_pH_6.5_vs_zhang_Tyloxapol_pH_4.5,zhang_Tyloxapol_pH_6.5_vs_zhang_pcit_pH_4.5,zhang_mhcii_mouse_d10_vs_zhang_wt_mouse_d10,zhang_mhcii_mouse_d45_vs_zhang_wt_mouse_d45,zhang_wt_mouse_d10_vs_zhang_input_library,zhang_wt_mouse_d45_vs_zhang_input_library
0,Rv0001,-0.41,0.01,0.00,0.00,0.00,3.12,-0.06,0.00,-0.06,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,Rv0002,3.28,2.38,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,Rv0003,-0.03,-0.08,0.03,-1.20,0.39,3.83,0.31,0.17,-0.62,...,-2.93,-0.31,1.09,-2.13,0.51,0.41,1.30,-0.49,-1.26,-2.25
3,Rv0004,-3.81,-3.39,-2.60,-6.83,1.54,0.00,1.79,1.08,4.91,...,-3.56,0.00,1.96,-3.56,0.00,0.00,0.00,0.70,-2.62,-2.62
4,Rv0005,-0.22,0.14,0.13,-0.08,0.27,-2.38,0.70,-0.71,-0.37,...,-1.47,-0.89,-2.36,-1.89,2.90,2.20,-4.05,0.30,0.69,-3.55

In [23]:
lfc = lfc.merge(gene_names[['Rv_ID', 'gene_name', 'Description']], how='left')

In [24]:
lfc = lfc.melt(id_vars=['Rv_ID', 'gene_name', 'Description'],
               var_name='Expt', value_name='log2FC')
qval = qval.melt(id_vars=['Rv_ID'], var_name='Expt', value_name='q-val')

In [25]:
print(lfc.shape, qval.shape)

(259520, 5) (259520, 3)

In [26]:
lfc.head()

,Rv_ID,gene_name,Description,Expt,log2FC
0,Rv0001,dnaA,Chromosomal replication initiator protein DnaA,PE35_KO_vs_mbio_H37Rv,-0.41
1,Rv0002,dnaN,DNA polymerase III (beta chain) DnaN (DNA nucl...,PE35_KO_vs_mbio_H37Rv,3.28
2,Rv0003,recF,DNA replication and repair protein RecF (singl...,PE35_KO_vs_mbio_H37Rv,-0.03
3,Rv0004,-,hypothetical protein,PE35_KO_vs_mbio_H37Rv,-3.81
4,Rv0005,gyrB,DNA gyrase (subunit B) GyrB (DNA topoisomerase...,PE35_KO_vs_mbio_H37Rv,-0.22

In [27]:
std_data = lfc.merge(qval, how='left', on=['Rv_ID', 'Expt'])

In [28]:
std_data.head()

,Rv_ID,gene_name,Description,Expt,log2FC,q-val
0,Rv0001,dnaA,Chromosomal replication initiator protein DnaA,PE35_KO_vs_mbio_H37Rv,-0.41,1.0
1,Rv0002,dnaN,DNA polymerase III (beta chain) DnaN (DNA nucl...,PE35_KO_vs_mbio_H37Rv,3.28,1.0
2,Rv0003,recF,DNA replication and repair protein RecF (singl...,PE35_KO_vs_mbio_H37Rv,-0.03,1.0
3,Rv0004,-,hypothetical protein,PE35_KO_vs_mbio_H37Rv,-3.81,1.0
4,Rv0005,gyrB,DNA gyrase (subunit B) GyrB (DNA topoisomerase...,PE35_KO_vs_mbio_H37Rv,-0.22,1.0

In [29]:
std_data.isna().sum()

Rv_ID             0
gene_name      2496
Description    2496
Expt              0
log2FC         3792
q-val          3792
dtype: int64

In [30]:
std_data['gene_name'] = std_data.apply(
    lambda x: '-' if pd.isna(x.gene_name) else x.gene_name, axis=1)

In [31]:
std_data

,Rv_ID,gene_name,Description,Expt,log2FC,q-val
0,Rv0001,dnaA,Chromosomal replication initiator protein DnaA,PE35_KO_vs_mbio_H37Rv,-0.41,1.00000
1,Rv0002,dnaN,DNA polymerase III (beta chain) DnaN (DNA nucl...,PE35_KO_vs_mbio_H37Rv,3.28,1.00000
2,Rv0003,recF,DNA replication and repair protein RecF (singl...,PE35_KO_vs_mbio_H37Rv,-0.03,1.00000
3,Rv0004,-,hypothetical protein,PE35_KO_vs_mbio_H37Rv,-3.81,1.00000
4,Rv0005,gyrB,DNA gyrase (subunit B) GyrB (DNA topoisomerase...,PE35_KO_vs_mbio_H37Rv,-0.22,1.00000
...,...,...,...,...,...,...
259515,Rv3921c,-,Probable conserved transmembrane protein,zhang_wt_mouse_d45_vs_zhang_input_library,0.00,1.00000
259516,Rv3922c,-,Possible hemolysin,zhang_wt_mouse_d45_vs_zhang_input_library,-2.06,0.32788
259517,Rv3923c,rnpA,Ribonuclease P protein component RnpA (RNaseP ...,zhang_wt_mouse_d45_vs_zhang_input_library,-3.80,0.81749
259518,Rv3924c,rpmH,50S ribosomal protein L34 RpmH,zhang_wt_mouse_d45_vs_zhang_input_library,0.00,1.00000
259519,Rvnr01,rrs,16S rRNA,zhang_wt_mouse_d45_vs_zhang_input_library,0.00,1.00000

In [32]:
std_data.isna().sum()

Rv_ID             0
gene_name         0
Description    2496
Expt              0
log2FC         3792
q-val          3792
dtype: int64

In [33]:
std_data[std_data['log2FC'].isna()]

,Rv_ID,gene_name,Description,Expt,log2FC,q-val
61,Rv0061c,-,Hypothetical protein,PE35_KO_vs_mbio_H37Rv,NaN,NaN
65,Rv0064A,vapB1,Possible antitoxin VapB1,PE35_KO_vs_mbio_H37Rv,NaN,NaN
81,Rv0078B,-,hypothetical protein,PE35_KO_vs_mbio_H37Rv,NaN,NaN
161,Rv0157A,-,hypothetical protein,PE35_KO_vs_mbio_H37Rv,NaN,NaN
191,Rv0186Ac,-,NaN,PE35_KO_vs_mbio_H37Rv,NaN,NaN
...,...,...,...,...,...,...
258955,Rv3372A,-,NaN,zhang_wt_mouse_d45_vs_zhang_input_library,NaN,NaN
259251,Rv3666B,-,NaN,zhang_wt_mouse_d45_vs_zhang_input_library,NaN,NaN
259284,Rv3697A,vapB48,Possible antitoxin VapB48,zhang_wt_mouse_d45_vs_zhang_input_library,NaN,NaN
259339,Rv3749Ac,-,NaN,zhang_wt_mouse_d45_vs_zhang_input_library,NaN,NaN
259450,Rv3857Ac,-,NaN,zhang_wt_mouse_d45_vs_zhang_input_library,NaN,NaN

In [27]:
std_data = std_data[~std_data['log2FC'].isna()]

In [28]:
std_data.isna().sum()

Rv_ID            0
gene_name        0
Description    568
Expt             0
log2FC           0
q-val            0
dtype: int64

In [41]:
def discretize_q_values(q_val):
    if pd.isna(q_val):
        return np.nan
    if q_val < 0.01:
        q_val_d = 3
    elif q_val < 0.05:
        q_val_d = 2
    else:
        q_val_d = 1
    return q_val_d

In [33]:
std_data['q_val_D'] = std_data['q-val'].apply(discretize_q_values)

/home/anisha/anaconda3/envs/dash/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
std_data.head()

,Rv_ID,gene_name,Description,Expt,log2FC,q-val,q_val_D
0,Rv0001,dnaA,Chromosomal replication initiator protein DnaA,PE35_KO_vs_mbio_H37Rv,-0.41,1.0,1
1,Rv0002,dnaN,DNA polymerase III (beta chain) DnaN (DNA nucl...,PE35_KO_vs_mbio_H37Rv,3.28,1.0,1
2,Rv0003,recF,DNA replication and repair protein RecF (singl...,PE35_KO_vs_mbio_H37Rv,-0.03,1.0,1
3,Rv0004,-,hypothetical protein,PE35_KO_vs_mbio_H37Rv,-3.81,1.0,1
4,Rv0005,gyrB,DNA gyrase (subunit B) GyrB (DNA topoisomerase...,PE35_KO_vs_mbio_H37Rv,-0.22,1.0,1

In [35]:
df_uk = pd.read_csv(
    '../../data/annotations/unknown_essentials/unknown_ALL_levels_essential_scores.csv')

In [36]:
df_uk.head()

,Rv_ID,gene_name,in_vitro_score,2003A_Sassetti,2012_Zhang,2013_DeJesus,2017A_DeJesus,Sanger_unknown,COG_unknown,Tuberculist_unknown,gene_name_unknown,UK_score_1,UK_score_2,UK_score_3,UK_score_4
0,Rv0001,dnaA,4,1,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Rv3582c,ispD,4,1,1,1,1,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
2,Rv0510,hemC,4,1,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Rv0509,hemA,4,1,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Rv0500,proC,4,1,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
std_data = std_data.merge(
    df_uk[['Rv_ID', 'UK_score_4']], how='left', on='Rv_ID')

In [39]:
std_data.isna().sum()

Rv_ID            0
gene_name        0
Description    568
Expt             0
log2FC           0
q-val            0
q_val_D          0
UK_score_4     520
dtype: int64

In [40]:
# have to save as tsv because descriptions have commas
std_data.to_csv('../../data/standardized_data_dash.tsv', index=False, sep='\t')

## Make SI data

In [34]:
%reset -f

In [35]:
import pandas as pd
import numpy as np
import pathlib
import glob
import os

In [36]:
col_desc = pd.read_excel('../../data/column_descriptors_standardized.xlsx')

In [37]:
col_desc = col_desc.rename(columns={'column_ID_2': 'column_ID_std'})

In [38]:
lfc_si = pd.read_csv(
    '../../data/SI_datasets/SI_log2FC.csv')
lfc_si = lfc_si.drop(columns='gene_name')

In [39]:
qval_si = pd.read_csv(
    '../../data/SI_datasets/SI_qval.csv')
qval_si = qval_si.drop(columns='gene_name')

In [40]:
print(lfc_si.shape, qval_si.shape)

(3990, 41) (3990, 41)

In [41]:
lfc_si

,Rv_ID,2003A_Sassetti,2003B_Sassetti,2005_Rengarajan,2006_Joshi_GI_1,2006_Joshi_GI_2,2011_Griffin_2,2013_Zhang_1A,2013_Zhang_1B,2013_Zhang_2,...,2018_Carey_1B,2018_Carey_1C,2018_Carey_1D,2018_Carey_1E,2018_Carey_1F,2018_Carey_1G,2018_Carey_1H,2017B_DeJesus_1A,2017B_DeJesus_1B,2017B_DeJesus_1C
0,Rv0001,-3.378401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,-0.05,4.53,0.00,0.00,2.14,0.00,-0.60,-1.02,-0.72
1,Rv0002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.60,-1.00,-0.72
2,Rv0003,NaN,NaN,NaN,NaN,NaN,NaN,-6.211402,-3.223423,NaN,...,0.03,-0.64,-0.49,-0.09,-0.31,0.03,-0.20,-0.41,0.45,-0.37
3,Rv0004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.51,1.53,1.53,1.52,1.53,2.07,1.51,-0.59,-1.01,-0.72
4,Rv0005,-5.919522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.14,2.21,1.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3985,Rv3920c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.78,1.77,2.26,1.79,2.22,1.23,3.08,-0.48,-0.58,-0.68
3986,Rv3921c,-2.974706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.12,0.00,-0.60,-1.01,-0.73
3987,Rv3922c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.02,1.99,0.90,0.78,1.54,-0.79,0.39,1.95,0.32,0.01
3988,Rv3923c,-2.528826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.58,-1.00,-0.70
3989,Rv3924c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.60,-1.01,-0.73

In [42]:
gene_names = pd.read_excel(
    '../../data/annotations/DeJesus_mbio.xlsx', header=1)
gene_names.head()

,ORF ID,Name,Description,Number of TA Sites,Number of Permissive (P) Sites,Number of Non-Permissive (NP) Sites,Number of Sites Belonging to Essential State,Number of Sites Belonging to Growth-Defect State,Number of Sites Belonging to Non-Essential State,Number of Sites Belonging to Growth-Advantage State,Fraction of Sites with Insertions,Mean Normalized Read-Count At Non-Zero Sites,Final Call
0,Rv0001,dnaA,Chromosomal replication initiator protein DnaA,32,29,3,31,0,1,0,0.125000,45.000000,ES
1,Rv0002,dnaN,DNA polymerase III (beta chain) DnaN (DNA nucl...,31,27,4,31,0,0,0,0.032258,1.000000,ES
2,Rv0003,recF,DNA replication and repair protein RecF (singl...,35,32,3,0,0,35,0,0.857143,38.033333,NE
3,Rv0004,-,hypothetical protein,8,8,0,0,0,8,0,0.375000,144.000000,NE
4,Rv0005,gyrB,DNA gyrase (subunit B) GyrB (DNA topoisomerase...,40,36,4,39,0,1,0,0.025000,26.000000,ES

In [43]:
gene_names = gene_names.rename(
    columns={'Name': 'gene_name', 'ORF ID': 'Rv_ID'})

In [44]:
set(lfc_si.columns).difference(set(qval_si.columns))

set()

In [45]:
set(qval_si.columns).difference(set(lfc_si.columns))

set()

In [46]:
col_ID_SI = list(col_desc.column_ID_SI.unique())

In [47]:
set(qval_si.columns).difference(set(col_ID_SI))

{'Rv_ID'}

In [48]:
set(col_ID_SI).difference(set(qval_si.columns))

{nan}

In [49]:
lfc_si.head()

,Rv_ID,2003A_Sassetti,2003B_Sassetti,2005_Rengarajan,2006_Joshi_GI_1,2006_Joshi_GI_2,2011_Griffin_2,2013_Zhang_1A,2013_Zhang_1B,2013_Zhang_2,...,2018_Carey_1B,2018_Carey_1C,2018_Carey_1D,2018_Carey_1E,2018_Carey_1F,2018_Carey_1G,2018_Carey_1H,2017B_DeJesus_1A,2017B_DeJesus_1B,2017B_DeJesus_1C
0,Rv0001,-3.378401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,-0.05,4.53,0.00,0.00,2.14,0.00,-0.60,-1.02,-0.72
1,Rv0002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.60,-1.00,-0.72
2,Rv0003,NaN,NaN,NaN,NaN,NaN,NaN,-6.211402,-3.223423,NaN,...,0.03,-0.64,-0.49,-0.09,-0.31,0.03,-0.20,-0.41,0.45,-0.37
3,Rv0004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.51,1.53,1.53,1.52,1.53,2.07,1.51,-0.59,-1.01,-0.72
4,Rv0005,-5.919522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.14,2.21,1.96

In [50]:
lfc_si = lfc_si.merge(
    gene_names[['Rv_ID', 'gene_name', 'Description']], how='left')

In [51]:
lfc_si.shape

(3990, 43)

In [52]:
lfc_si = lfc_si.melt(id_vars=['Rv_ID', 'gene_name', 'Description'],
                     var_name='Expt', value_name='log2FC')
qval_si = qval_si.melt(id_vars=['Rv_ID'], var_name='Expt', value_name='q-val')

In [53]:
print(lfc_si.shape, qval_si.shape)

(159600, 5) (159600, 3)

In [54]:
lfc_si.head()

,Rv_ID,gene_name,Description,Expt,log2FC
0,Rv0001,dnaA,Chromosomal replication initiator protein DnaA,2003A_Sassetti,-3.378401
1,Rv0002,dnaN,DNA polymerase III (beta chain) DnaN (DNA nucl...,2003A_Sassetti,NaN
2,Rv0003,recF,DNA replication and repair protein RecF (singl...,2003A_Sassetti,NaN
3,Rv0004,-,hypothetical protein,2003A_Sassetti,NaN
4,Rv0005,gyrB,DNA gyrase (subunit B) GyrB (DNA topoisomerase...,2003A_Sassetti,-5.919522

In [55]:
si_data = lfc_si.merge(qval_si, how='left', on=['Rv_ID', 'Expt'])

In [56]:
si_data.head()

,Rv_ID,gene_name,Description,Expt,log2FC,q-val
0,Rv0001,dnaA,Chromosomal replication initiator protein DnaA,2003A_Sassetti,-3.378401,0.004064
1,Rv0002,dnaN,DNA polymerase III (beta chain) DnaN (DNA nucl...,2003A_Sassetti,NaN,NaN
2,Rv0003,recF,DNA replication and repair protein RecF (singl...,2003A_Sassetti,NaN,NaN
3,Rv0004,-,hypothetical protein,2003A_Sassetti,NaN,NaN
4,Rv0005,gyrB,DNA gyrase (subunit B) GyrB (DNA topoisomerase...,2003A_Sassetti,-5.919522,0.000004

In [66]:
si_data.isna().sum()

Rv_ID              0
gene_name        200
Description      200
Expt               0
log2FC         75864
q-val          71392
dtype: int64

In [67]:
si_data['gene_name'] = si_data.apply(
    lambda x: '-' if pd.isna(x.gene_name) else x.gene_name, axis=1)

In [68]:
si_data

,Rv_ID,gene_name,Description,Expt,log2FC,q-val
0,Rv0001,dnaA,Chromosomal replication initiator protein DnaA,2003A_Sassetti,-3.378401,0.004064
1,Rv0002,dnaN,DNA polymerase III (beta chain) DnaN (DNA nucl...,2003A_Sassetti,NaN,NaN
2,Rv0003,recF,DNA replication and repair protein RecF (singl...,2003A_Sassetti,NaN,NaN
3,Rv0004,-,hypothetical protein,2003A_Sassetti,NaN,NaN
4,Rv0005,gyrB,DNA gyrase (subunit B) GyrB (DNA topoisomerase...,2003A_Sassetti,-5.919522,0.000004
...,...,...,...,...,...,...
159595,Rv3920c,-,Conserved protein similar to jag protein,2017B_DeJesus_1C,-0.680000,0.091698
159596,Rv3921c,-,Probable conserved transmembrane protein,2017B_DeJesus_1C,-0.730000,0.098408
159597,Rv3922c,-,Possible hemolysin,2017B_DeJesus_1C,0.010000,0.125413
159598,Rv3923c,rnpA,Ribonuclease P protein component RnpA (RNaseP ...,2017B_DeJesus_1C,-0.700000,0.086522
159599,Rv3924c,rpmH,50S ribosomal protein L34 RpmH,2017B_DeJesus_1C,-0.730000,0.081269

In [70]:
si_data.dtypes
#si_data['q-val'] = si_data['q-val'].replace({'no replicates':np.nan})

Rv_ID           object
gene_name       object
Description     object
Expt            object
log2FC         float64
q-val          float64
dtype: object

In [71]:
si_data.isna().sum()

Rv_ID              0
gene_name          0
Description      200
Expt               0
log2FC         75864
q-val          71392
dtype: int64

In [72]:
def discretize_q_values(q_val):
    if pd.isna(q_val):
        return np.nan
    if q_val < 0.01:
        q_val_d = 3
    elif q_val < 0.05:
        q_val_d = 2
    else:
        q_val_d = 1
    return q_val_d

In [73]:
si_data['q_val_D'] = si_data['q-val'].apply(discretize_q_values)

In [75]:
si_data.head()

,Rv_ID,gene_name,Description,Expt,log2FC,q-val,q_val_D
0,Rv0001,dnaA,Chromosomal replication initiator protein DnaA,2003A_Sassetti,-3.378401,0.004064,3.0
1,Rv0002,dnaN,DNA polymerase III (beta chain) DnaN (DNA nucl...,2003A_Sassetti,NaN,NaN,NaN
2,Rv0003,recF,DNA replication and repair protein RecF (singl...,2003A_Sassetti,NaN,NaN,NaN
3,Rv0004,-,hypothetical protein,2003A_Sassetti,NaN,NaN,NaN
4,Rv0005,gyrB,DNA gyrase (subunit B) GyrB (DNA topoisomerase...,2003A_Sassetti,-5.919522,0.000004,3.0

In [76]:
df_uk = pd.read_csv(
    '../../data/annotations/unknown_essentials/unknown_ALL_levels_essential_scores.csv')

In [77]:
df_uk.head()

,Rv_ID,gene_name,in_vitro_score,2003A_Sassetti,2012_Zhang,2013_DeJesus,2017A_DeJesus,Sanger_unknown,COG_unknown,Tuberculist_unknown,gene_name_unknown,UK_score_1,UK_score_2,UK_score_3,UK_score_4
0,Rv0001,dnaA,4,1,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Rv3582c,ispD,4,1,1,1,1,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
2,Rv0510,hemC,4,1,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Rv0509,hemA,4,1,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Rv0500,proC,4,1,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [78]:
si_data = si_data.merge(df_uk[['Rv_ID', 'UK_score_4']], how='left', on='Rv_ID')

In [79]:
si_data.isna().sum()

Rv_ID              0
gene_name          0
Description      200
Expt               0
log2FC         75864
q-val          71392
q_val_D        71392
UK_score_4         0
dtype: int64

In [80]:
si_data.to_csv('../../data/si_data_dash.tsv', index=False, sep='\t')

## Make expt metadata

In [1]:
%reset -f

In [2]:
import pandas as pd
import numpy as np
import pathlib
import glob
import os

In [3]:
col_desc = pd.read_excel('../../data/column_descriptors_standardized.xlsx')

In [4]:
col_desc = col_desc.rename(columns={'column_ID_2': 'column_ID_std'})
col_desc = col_desc.drop(columns=['column_ID', 'wig_files'])

In [5]:
col_desc.head()

,control,experimental,column_ID_std,column_ID_SI,num_replicates_control,num_replicates_experimental,meaning,year,paper_title,paper_URL,...,carbon_source,stress_description,GI_RvID,GI_name,MicArr_or_TnSeq,stat_analysis,mouse_strain,cell_type,Mtb_strain,plot_SI_graph
0,NaN,NaN,NaN,2003A_Sassetti,NaN,NaN,NaN,2003.0,Genes required for mycobacterial growth define...,https://onlinelibrary.wiley.com/doi/full/10.10...,...,glycerol,-,NaN,NaN,microarray,NaN,NaN,NaN,NaN,No
1,NaN,NaN,NaN,2003B_Sassetti,NaN,NaN,NaN,2003.0,Genetic requirements for mycobacterial surviva...,https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2...,...,-,NaN,NaN,NaN,microarray,NaN,NaN,NaN,NaN,No
2,NaN,NaN,NaN,2005_Rengarajan,NaN,NaN,NaN,2005.0,Genome-wide requirements for Mycobacterium tub...,https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1...,...,-,-,NaN,NaN,microarray,NaN,NaN,NaN,NaN,No
3,NaN,NaN,NaN,2006_Joshi_GI_1,NaN,NaN,NaN,2006.0,Characterization of mycobacterial virulence ge...,https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1...,...,-,NaN,Rv0173,NaN,microarray,NaN,NaN,NaN,NaN,No
4,NaN,NaN,NaN,2006_Joshi_GI_2,NaN,NaN,NaN,2006.0,Characterization of mycobacterial virulence ge...,https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1...,...,-,NaN,Rv3502c,NaN,microarray,NaN,NaN,NaN,NaN,No

In [6]:
col_desc.head()

,control,experimental,column_ID_std,column_ID_SI,num_replicates_control,num_replicates_experimental,meaning,year,paper_title,paper_URL,...,carbon_source,stress_description,GI_RvID,GI_name,MicArr_or_TnSeq,stat_analysis,mouse_strain,cell_type,Mtb_strain,plot_SI_graph
0,NaN,NaN,NaN,2003A_Sassetti,NaN,NaN,NaN,2003.0,Genes required for mycobacterial growth define...,https://onlinelibrary.wiley.com/doi/full/10.10...,...,glycerol,-,NaN,NaN,microarray,NaN,NaN,NaN,NaN,No
1,NaN,NaN,NaN,2003B_Sassetti,NaN,NaN,NaN,2003.0,Genetic requirements for mycobacterial surviva...,https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2...,...,-,NaN,NaN,NaN,microarray,NaN,NaN,NaN,NaN,No
2,NaN,NaN,NaN,2005_Rengarajan,NaN,NaN,NaN,2005.0,Genome-wide requirements for Mycobacterium tub...,https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1...,...,-,-,NaN,NaN,microarray,NaN,NaN,NaN,NaN,No
3,NaN,NaN,NaN,2006_Joshi_GI_1,NaN,NaN,NaN,2006.0,Characterization of mycobacterial virulence ge...,https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1...,...,-,NaN,Rv0173,NaN,microarray,NaN,NaN,NaN,NaN,No
4,NaN,NaN,NaN,2006_Joshi_GI_2,NaN,NaN,NaN,2006.0,Characterization of mycobacterial virulence ge...,https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1...,...,-,NaN,Rv3502c,NaN,microarray,NaN,NaN,NaN,NaN,No

In [7]:
col_desc.isna().sum()

control                        12
experimental                   12
column_ID_std                  12
column_ID_SI                   36
num_replicates_control         12
num_replicates_experimental    12
meaning                        15
year                           15
paper_title                    15
paper_URL                      15
journal                        15
first_author                   13
last_author                    13
in_vitro_cell_vivo              0
in_vitro_media                 22
carbon_source                  21
stress_description             56
GI_RvID                        47
GI_name                        58
MicArr_or_TnSeq                 0
stat_analysis                  42
mouse_strain                   66
cell_type                      75
Mtb_strain                     43
plot_SI_graph                  36
dtype: int64

In [8]:
col_desc.drop(columns=['year', 'journal',
                       'first_author', 'last_author', 'control', 'experimental'], inplace=True)

In [9]:
fill_na_cols = [c for c in col_desc.columns if c not in [
    'control', 'experimental', 'column_ID_std', 'column_ID_SI', 'plot_SI_graph']]

In [10]:
col_desc[fill_na_cols] = col_desc[fill_na_cols].fillna(' ')

In [44]:
col_desc.to_csv('../../data/col_desc_dash.tsv', index=False, sep='\t')

## Make gene metadata

In [101]:
%reset -f

In [102]:
import pandas as pd
import numpy as np
import pathlib
import glob
import os

In [103]:
si_data = pd.read_csv('../../data/si_data_dash.tsv', sep='\t')
si_data.head()

,Rv_ID,gene_name,Description,Expt,log2FC,q-val,q_val_D,UK_score_4
0,Rv0001,dnaA,Chromosomal replication initiator protein DnaA,2003A_Sassetti,-3.378401,0.004064,3.0,0.0
1,Rv0002,dnaN,DNA polymerase III (beta chain) DnaN (DNA nucl...,2003A_Sassetti,NaN,NaN,NaN,0.0
2,Rv0003,recF,DNA replication and repair protein RecF (singl...,2003A_Sassetti,NaN,NaN,NaN,0.0
3,Rv0004,-,hypothetical protein,2003A_Sassetti,NaN,NaN,NaN,4.0
4,Rv0005,gyrB,DNA gyrase (subunit B) GyrB (DNA topoisomerase...,2003A_Sassetti,-5.919522,0.000004,3.0,0.0

In [104]:
std_data = pd.read_csv('../../data/standardized_data_dash.tsv', sep='\t')
std_data.head()

,Rv_ID,gene_name,Description,Expt,log2FC,q-val,q_val_D,UK_score_4
0,Rv0001,dnaA,Chromosomal replication initiator protein DnaA,PE35_KO_vs_mbio_H37Rv,-0.41,1.0,1,0.0
1,Rv0002,dnaN,DNA polymerase III (beta chain) DnaN (DNA nucl...,PE35_KO_vs_mbio_H37Rv,3.28,1.0,1,0.0
2,Rv0003,recF,DNA replication and repair protein RecF (singl...,PE35_KO_vs_mbio_H37Rv,-0.03,1.0,1,0.0
3,Rv0004,-,hypothetical protein,PE35_KO_vs_mbio_H37Rv,-3.81,1.0,1,4.0
4,Rv0005,gyrB,DNA gyrase (subunit B) GyrB (DNA topoisomerase...,PE35_KO_vs_mbio_H37Rv,-0.22,1.0,1,0.0

In [105]:
#are all Rvs in si data there in std data?
si_Rvs = set(si_data.Rv_ID.to_list())
std_Rvs = set(std_data.Rv_ID.to_list())

In [106]:
len(si_Rvs)

3990

In [107]:
len(std_Rvs)

4055

In [108]:
si_Rvs.difference(std_Rvs)

set()

In [109]:
si_Rvs.issubset(std_Rvs)

True

In [110]:
# Therefore use std to get gene metadata

In [111]:
gene_metadata = std_data[['Rv_ID', 'gene_name', 'Description']].drop_duplicates()

In [112]:
gene_names = pd.read_excel(
    '../../data/annotations/DeJesus_mbio.xlsx', header=1)
gene_names = gene_names.rename(
    columns={'ORF ID': 'Rv_ID'})
gene_names.head()

,Rv_ID,Name,Description,Number of TA Sites,Number of Permissive (P) Sites,Number of Non-Permissive (NP) Sites,Number of Sites Belonging to Essential State,Number of Sites Belonging to Growth-Defect State,Number of Sites Belonging to Non-Essential State,Number of Sites Belonging to Growth-Advantage State,Fraction of Sites with Insertions,Mean Normalized Read-Count At Non-Zero Sites,Final Call
0,Rv0001,dnaA,Chromosomal replication initiator protein DnaA,32,29,3,31,0,1,0,0.125000,45.000000,ES
1,Rv0002,dnaN,DNA polymerase III (beta chain) DnaN (DNA nucl...,31,27,4,31,0,0,0,0.032258,1.000000,ES
2,Rv0003,recF,DNA replication and repair protein RecF (singl...,35,32,3,0,0,35,0,0.857143,38.033333,NE
3,Rv0004,-,hypothetical protein,8,8,0,0,0,8,0,0.375000,144.000000,NE
4,Rv0005,gyrB,DNA gyrase (subunit B) GyrB (DNA topoisomerase...,40,36,4,39,0,1,0,0.025000,26.000000,ES

In [113]:
gene_metadata = gene_metadata.merge(gene_names[['Rv_ID', 'Final Call']], how='left', on='Rv_ID')

In [114]:
gene_metadata.isna().sum()

Rv_ID           0
gene_name       0
Description    39
Final Call     39
dtype: int64

In [115]:
gene_metadata['Description'] = gene_metadata['Description'].fillna('-')
gene_metadata['Final Call'] = gene_metadata['Final Call'].fillna('Missing')

In [117]:
gene_metadata['Final Call'].value_counts()

NE           3005
ES            461
GA            310
GD            135
Uncertain      76
Missing        39
ESD            29
Name: Final Call, dtype: int64

In [ ]:
gene_metadata_rename = {
    'NE': 'Non essential',
    'ES': 'Essential',
    'GA': 'Growth advantage',
    'GD': 'Growth defect',
    'ESD': 'Essential domain'
}

In [116]:
gene_metadata.to_csv('../../data/gene_metadata_dash.tsv', index=False, sep='\t')