In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
fn_lfc = '../../data/standardized_data/result_logfc_matrix_2021_08_27_BASIS.csv'
fn_qval = '../../data/standardized_data/result_qval_matrix_2021_08_27_BASIS.csv'
fn_bin = '../../data/standardized_data/result_bin_matrix_2021_08_27_BASIS.csv'

df_lfc = pd.read_csv(fn_lfc)
df_qval = pd.read_csv(fn_qval)
df_bin = pd.read_csv(fn_bin)

df_lfc.head(2)

,Rv_ID,PE35_KO_vs_mbio_H37Rv,PPE68_KO_vs_mbio_H37Rv,Rv0950c_KO_vs_CB_WT,Rv0954_KO_vs_RJ_WT,Rv1096_KO_vs_CB_WT,Rv3005c_KO_day32_vs_dejesus_H37Rv_day32,Rv3594_KO_vs_Rubin_FLUTE_WT,Rv3684_KO_vs_CB_WT,Rv3717_KO_vs_Rubin_FLUTE_WT,...,Cast.EiJ_vs_C57BL.6J,IFNG_vs_C57BL.6J,NOD.ShiLtJ_vs_C57BL.6J,NOS_vs_C57BL.6J,NZO.H1LtJ_vs_C57BL.6J,PWK.PhJ_vs_C57BL.6J,Phox_vs_C57BL.6J,Rag_vs_C57BL.6J,Wsb.Eij_vs_C57BL.6J,in_vitro_vs_C57BL.6J
0,Rv0001,-0.41,0.01,0.0,0.0,0.0,3.12,-0.06,0.0,-0.06,...,0.0,0.0,0.0,0.0,0.0,0.22,0.0,0.0,0.00,0.0
1,Rv0002,3.28,2.38,0.0,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.27,0.0

In [10]:
rvid = 'Rv3219'
df_lfc[df_lfc.Rv_ID==rvid].values[0][1:]

array([-0.44, 3.11, 0.98, 0.0, -0.84, 0.0, 1.94, 1.2, 0.0, 0.0, 0.0, 0.0,
       0.0, 5.03, 1.85, 7.76, 5.91, 5.91, 6.07, 2.58, 6.24, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.56, 1.77, 0.0,
       -0.44, -0.44, 0.0, -1.09, 0.0, 0.0, 0.0, 0.0, 1.53, 0.0, 0.0, -0.6,
       1.02, -1.51, -1.11, -0.05, -1.38, -1.36, 0.0, 0.0, 0.0, 0.0, 0.88,
       0.88, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.44, 0.0, 0.0, 0.92, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0], dtype=object)

In [11]:
df_qval[df_qval.Rv_ID==rvid].values[0][1:]

array([1.0, 0.1305, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,
       0.0002, 0.1649, 0.0002, 0.0492, 0.0049, 0.004, 0.0516, 0.0034, 1.0,
       1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.1299,
       0.126, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,
       0.6457, 0.562, 0.0996, 0.4203, 1.0, 0.4723, 0.5305, 1.0, 1.0, 1.0,
       1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.3973,
       1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,
       1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,
       1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,
       1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,
       1.0, 1.0, 1.0], dtype=object)

In [9]:
df_bin[df_bin.Rv_ID==rvid].values[0][1:]

array([0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], dtype=object)

In [17]:
rivd = 'Rv3219'
[col for col in df_bin.columns[1:] if df_bin[df_bin.Rv_ID==rvid][col].values[0] == 1]

['carey_621_vs_carey_rv',
 'carey_631_vs_carey_rv',
 'carey_632_vs_carey_rv',
 'carey_641_vs_carey_rv',
 'carey_662_vs_carey_rv',
 'carey_667_vs_carey_rv']