## Import modules:

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import seaborn as sns

## Function definitions:

In [2]:
def essentiality_calls(df, gene_id):
# Return the columns in which a given gene is called essential:
    cols = df.columns[2:]
    col_list = []
    for col in cols:
        if df[df['Rv_ID']==gene_id][col].values[0] == 1:
            col_list.append(col)
            
    return col_list

## Load datasets:

Screen condition descriptions:

In [3]:
dir_data = '../../data'
column_file = os.path.join(dir_data, 'column_descriptors_standardized_092321.xlsx')
df_column = pd.read_excel(column_file)

TnSeq matrix:

In [4]:
tn_file = os.path.join(dir_data, 'standardized_data/result_bin_matrix_2021_08_27_BASIS.csv')
df_tn = pd.read_csv(tn_file)
df_tn.head(2)

,Rv_ID,PE35_KO_vs_mbio_H37Rv,PPE68_KO_vs_mbio_H37Rv,Rv0950c_KO_vs_CB_WT,Rv0954_KO_vs_RJ_WT,Rv1096_KO_vs_CB_WT,Rv3005c_KO_day32_vs_dejesus_H37Rv_day32,Rv3594_KO_vs_Rubin_FLUTE_WT,Rv3684_KO_vs_CB_WT,Rv3717_KO_vs_Rubin_FLUTE_WT,...,Cast.EiJ_vs_C57BL.6J,IFNG_vs_C57BL.6J,NOD.ShiLtJ_vs_C57BL.6J,NOS_vs_C57BL.6J,NZO.H1LtJ_vs_C57BL.6J,PWK.PhJ_vs_C57BL.6J,Phox_vs_C57BL.6J,Rag_vs_C57BL.6J,Wsb.Eij_vs_C57BL.6J,in_vitro_vs_C57BL.6J
0,Rv0001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Rv0002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
lfc_file = os.path.join(dir_data, 'standardized_data/result_logfc_matrix_2021_08_27_BASIS.csv')
df_lfc = pd.read_csv(lfc_file)
df_lfc.head(2)

,Rv_ID,PE35_KO_vs_mbio_H37Rv,PPE68_KO_vs_mbio_H37Rv,Rv0950c_KO_vs_CB_WT,Rv0954_KO_vs_RJ_WT,Rv1096_KO_vs_CB_WT,Rv3005c_KO_day32_vs_dejesus_H37Rv_day32,Rv3594_KO_vs_Rubin_FLUTE_WT,Rv3684_KO_vs_CB_WT,Rv3717_KO_vs_Rubin_FLUTE_WT,...,Cast.EiJ_vs_C57BL.6J,IFNG_vs_C57BL.6J,NOD.ShiLtJ_vs_C57BL.6J,NOS_vs_C57BL.6J,NZO.H1LtJ_vs_C57BL.6J,PWK.PhJ_vs_C57BL.6J,Phox_vs_C57BL.6J,Rag_vs_C57BL.6J,Wsb.Eij_vs_C57BL.6J,in_vitro_vs_C57BL.6J
0,Rv0001,-0.41,0.01,0.0,0.0,0.0,3.12,-0.06,0.0,-0.06,...,0.0,0.0,0.0,0.0,0.0,0.22,0.0,0.0,0.00,0.0
1,Rv0002,3.28,2.38,0.0,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.27,0.0

## Read in list of genes to query:

File names:

In [ ]:
# gene_list_file = '../../data/other_data/orphan_redox_wet_lab.xlsx'
gene_list_file = '../../data/other_data/SDR_mtb.xlsx'
xls_name = gene_list_file.split('.xlsx')[0] + '_TnMat.xlsx'

# Create a Pandas Excel output writer:
excel_output = os.path.join(dir_data, 'other_data', xls_name)
writer = pd.ExcelWriter(excel_output, engine='xlsxwriter')

Using excel file:

In [7]:
df_gene_list = pd.read_excel(os.path.join(dir_data, 'other_data', gene_list_file))
gene_list = df_gene_list.Rv_ID.values

Using python list:

In [6]:
gene_list = ['Rv3696c']

# Create a Pandas Excel output writer:
xls_name = 'Rv3696c.xlsx'
excel_output = os.path.join(dir_data, 'tests', xls_name)
writer = pd.ExcelWriter(excel_output, engine='xlsxwriter')

## Query genes:

output results to excel sheets:

In [7]:
save_to_xls = True

In [8]:
essential_dict = {}
for gene in gene_list:
    print( gene )
    hits = essentiality_calls(df_tn, gene)
    df_temp = df_column[df_column.column_ID_2.isin(hits)]
    essential_dict[gene] = hits
    if save_to_xls:
        df_temp.to_excel(writer, sheet_name=gene, index = False)

if save_to_xls:
    writer.save()

Rv3696c

In [31]:
df_T = df_lfc[df_lfc.Rv_ID==gene][hits].T
df_T['column_ID_2'] = df_T.index
df_T.rename(columns = {3818:'log2FC'}, inplace=True)
df_T.reset_index(drop=True, inplace=True)
df_T = df_T[['column_ID_2', 'log2FC']]
df_T.sort_values(by = 'log2FC', inplace = True)

In [33]:
df_temp_w_lfc = df_T.merge(df_temp, how = 'left', on = 'column_ID_2')

In [34]:
fout = '../../data/tests/Rv3696c_w_lfc.xlsx'
df_temp_w_lfc.to_excel(fout, index = False)

In [14]:
gene = gene_list[0]
screen = 'C57TL.6J_vs_mbio_H37Rv'
df_lfc[df_lfc.Rv_ID==gene][screen]

3818    2.89
Name: C57BL.6J_vs_mbio_H37Rv, dtype: float64

### This is a simple format in which to save the dataframe:

In [10]:
df_by_genes = pd.DataFrame()
df_by_genes['Rv_ID'] = essential_dict.keys()
df_by_genes['TnSeq_calls'] = essential_dict.values()
df_by_genes['num_TnSeq'] = [len(TnSeq) for TnSeq in df_by_genes.TnSeq_calls.values]
df_by_genes.sort_values(by='num_TnSeq', ascending=False, inplace=True)

df_by_genes = df_by_genes[['Rv_ID', 'num_TnSeq', 'TnSeq_calls']]

In [11]:
df_by_genes.sample(5)

      Rv_ID  num_TnSeq TnSeq_calls
37   Rv2263          1   [Rv3916c]
35   Rv0303          1   [Rv3005c]
41  Rv0439c          0          []
4    Rv3085          0          []
20  Rv3485c          1   [Rv3005c]

In [12]:
xls_out_name = 'SDR_Mtb_TnSeq_by_genes.xlsx'
excel_output = os.path.join(dir_data, 'other_data', xls_out_name)
df_by_genes.to_excel(excel_output, index = False)

## For a list of genes, make an inverse mapping of TnSeq screens --> to --> genes

In [13]:
TnSeq_screens = []
for val in essential_dict.values():
    TnSeq_screens += val
TnSeq_screens = list(set(TnSeq_screens))
TnSeq_screens.sort()

In [14]:
TnSeq_dict = {}
for TnSeq in TnSeq_screens:
    genes_in_TnSeq = [ gene for gene in essential_dict.keys() if TnSeq in essential_dict[gene]]
    genes_in_TnSeq.sort()
    TnSeq_dict[TnSeq] = genes_in_TnSeq
    
df_TnSeq = pd.DataFrame()
df_TnSeq['TnSeq_screen'] = TnSeq_dict.keys()
df_TnSeq['genes'] = TnSeq_dict.values()
df_TnSeq['num_genes'] = [len(gs) for gs in df_TnSeq.genes.values]
df_TnSeq.sort_values(by='num_genes', ascending=False, inplace=True)

df_TnSeq = df_TnSeq[['TnSeq_screen', 'num_genes', 'genes']]

In [15]:
xls_out_name = 'SDR_Mtb_genes_by_TnSeq.xlsx'
excel_output = os.path.join(dir_data, 'other_data', xls_out_name)

df_TnSeq.to_excel(excel_output, index = False)