# Objective: 
Given a protein family dataframe (obtained from UniProt), fetch Rhea identifiers.

In [2]:
import pandas as pd
import os
import re
import seaborn as sns
import numpy as np

In [3]:
file_in = '../data/annotations/uniprot-proteome_UP000001584.tab'
df = pd.read_csv(file_in, sep = '\t')

In [4]:
df_no_null = df[~df["Rhea ID"].isnull()].copy()

### Fetching Rhea IDs:

In [5]:
df_no_null.shape

(862, 14)

Since some of the proteins have more than one Rhea ID, we are creating another data frame where we split the group of Rhea ID's for each protein(df_UP_rhea.Entry) into a seperate row.

In [6]:
list_up_entry = []
list_rhea_ids = []

for index, row in df_no_null.iterrows():
    up_entry = row['Entry']
    rhea_ids = row['Rhea ID'].split(';')
    rhea_ids = [rid.split(':')[1] for rid in rhea_ids]
    list_rhea_ids+=rhea_ids
    list_up_entry+=len(rhea_ids)*[up_entry]

df_UP_rhea = pd.DataFrame()
df_UP_rhea['Entry'] = list_up_entry
df_UP_rhea['RheaID'] = list_rhea_ids

In [7]:
df_UP_rhea.shape

(1825, 2)

In [8]:
file_out = '../data/up_to_rhea.csv'
df_UP_rhea.to_csv(file_out, index = False)

In [10]:
df_UP_rhea.head()
#df_UP_rhea[df_UP_rhea.RheaID == "10868"].Entry.unique()

    Entry RheaID
0  P9WJM5  14217
1  P9WJM5  19993
2  P9WHM9  17453
3  P9WGE9  20696
4  P9WG79  24840