# Adding BxD dataset (Rachel Meade, Clare Smith) to standardized datafiles:

In [3]:
import pandas as pd
import os

### Load raw, full BxD datasets from Rachel Meade:

In [21]:
path_bxd = '../../data/standardized_data/BXD_TnSeq/'
fn_bxd = '2022.02.15_BXD_TRANSIT_BGC_1pseudo_output_RKM_wPvals_Unthresholded.csv'
fn_bxd_path = os.path.join(path_bxd, fn_bxd)

df_bxd = pd.read_csv(fn_bxd_path,  index_col = 0)
df_bxd.head(1)

,Orf,Name,Desc,Sites,Sites_Hit,B6,B6_pval,B6_Qval,DBA,DBA_pval,...,BXD79_Qval,BXD90,BXD90_pval,BXD90_Qval,BXD93,BXD93_pval,BXD93_Qval,BXD102,BXD102_pval,BXD102_Qval
1,Rv0001,dnaA,chromosomal replication initiation protein,31,0,0.0,1.0,1.0,0.0,1.0,...,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0

### Grab BxD L2FC columns:

In [18]:
cols_lfc = list(set([col.split('_')[0] for col in df_bxd.columns[5:]]))
cols_lfc.sort()
cols = ['Orf'] + cols_lfc
df_bxd_lfc = df_bxd[cols].copy()
df_bxd_lfc.rename(columns={'Orf':'Rv_ID'}, inplace=True)
df_bxd_lfc.head(1)

,Rv_ID,B6,BXD102,BXD29,BXD39,BXD40,BXD48a,BXD51,BXD54,BXD56,...,BXD67,BXD69,BXD73,BXD73b,BXD77,BXD79,BXD9,BXD90,BXD93,DBA
1,Rv0001,0.0,0.0,0.0,0.0,0.0,0.0,0.86,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Grab BxD q-value columns:

In [19]:
cols_qval = [col for col in df_bxd.columns[5:] if 'Qval' in col]
cols_qval.sort()
cols = ['Orf'] + cols_qval
df_bxd_qval = df_bxd[cols].copy()
df_bxd_qval.rename(columns={'Orf':'Rv_ID'}, inplace=True)

# Rename columns to get rid of the "Qval"
dict_cols = {col:col.split('_')[0] for col in df_bxd_qval.columns[1:]}
df_bxd_qval.rename(columns=dict_cols, inplace=True)
df_bxd_qval.head(1)

,Rv_ID,B6,BXD102,BXD29,BXD39,BXD40,BXD48a,BXD51,BXD54,BXD56,...,BXD67,BXD69,BXD73,BXD73b,BXD77,BXD79,BXD90,BXD93,BXD9,DBA
1,Rv0001,1.0,1.0,1.0,1.0,1.0,1.0,0.7414,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

### Grab standardized dataset (L2FC dataframe, q-values dataframe)

#### PAUSE! 
- Make sure you grab the correct datasets. 
- Use this as an opportunity to clean up the data/standardized_data folder. Send everything else to an old dataset.

In [24]:
path_std = '../../data/standardized_data/'

# PAUSE: make sure you're grabbing the correct files:  
fn_std_lfc = os.path.join(path_std, 'result_logfc_matrix_2021_11_15_BASIS_invitro.csv')
fn_std_qval = os.path.join(path_std, 'result_qval_matrix_2021_11_15_BASIS_invitro.csv')
# Load as dataframes: 
df_std_lfc = pd.read_csv(fn_std_lfc)
df_std_qval = pd.read_csv(fn_std_qval)
# shapes: 
df_std_lfc.shape, df_std_qval.shape

((4055, 126), (4055, 126))