In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

## Load new matrices:

In [128]:
path_data = '../../data/standardized_data/'
file_log2fc = os.path.join(path_data, 'result_logfc_matrix_2020_06_27.csv')
file_qval = os.path.join(path_data, 'result_qval_matrix_2020_06_27.csv')
file_bin = os.path.join(path_data, 'result_bin_matrix_2020_06_27.csv')

df_log2fc = pd.read_csv(file_log2fc)
df_qval = pd.read_csv(file_qval)
df_bin = pd.read_csv(file_bin)

In [132]:
df_bin.shape

(4055, 73)

In [140]:
cols_new = df_bin.columns.to_list()[1:]
cols_new

['PE35_KO_vs_mbio_H37Rv',
 'PPE68_KO_vs_mbio_H37Rv',
 'Rv0950c_KO_vs_CB_WT',
 'Rv0954_KO_vs_RJ_WT',
 'Rv1096_KO_vs_CB_WT',
 'Rv3005c_KO_day32_vs_dejesus_H37Rv_day32',
 'Rv3594_KO_vs_Rubin_FLUTE_WT',
 'Rv3684_KO_vs_CB_WT',
 'Rv3717_KO_vs_Rubin_FLUTE_WT',
 'Rv3811_KO_vs_Rubin_FLUTE_WT',
 'bellerose_MB_HRZE_wk1_vs_bellerose_MB_d21_untreated',
 'bellerose_MB_HRZE_wk1_vs_bellerose_MB_pretreatment',
 'bellerose_MB_d21_untreated_vs_bellerose_MB_pretreatment',
 'carey_621_vs_carey_rv',
 'carey_621_vs_mbio_H37Rv',
 'carey_630_vs_carey_rv',
 'carey_630_vs_mbio_H37Rv',
 'carey_631_vs_carey_rv',
 'carey_631_vs_mbio_H37Rv',
 'carey_632_vs_carey_rv',
 'carey_632_vs_mbio_H37Rv',
 'carey_641_vs_carey_rv',
 'carey_641_vs_mbio_H37Rv',
 'carey_662_vs_carey_rv',
 'carey_662_vs_mbio_H37Rv',
 'carey_663_vs_carey_rv',
 'carey_663_vs_mbio_H37Rv',
 'carey_667_vs_carey_rv',
 'carey_667_vs_mbio_H37Rv',
 'dejesus_H37Rv_day32_vs_dejesus_H37Rv_day0',
 'dejesus_Rv0307c_day32_vs_dejesus_Rv0307c_day0',
 'dejesus_Rv1432_day0_vs_dejesus_H37Rv_day0',
 'dejesus_Rv1432_day32_vs_dejesus_H37Rv_day32',
 'dejesus_Rv1432_day32_vs_dejesus_Rv1432_day0',
 'dejesus_Rv1565c_day0_vs_dejesus_H37Rv_day0',
 'dejesus_Rv1565c_day32_vs_dejesus_H37Rv_day32',
 'dejesus_Rv1565c_day32_vs_dejesus_Rv1565c_day0',
 'dejesus_Rv2680_day0_vs_dejesus_H37Rv_day0',
 'dejesus_Rv2680_day32_vs_dejesus_H37Rv_day32',
 'dejesus_Rv2680_day32_vs_dejesus_Rv2680_day0',
 'dejesus_Rv3916c_day32_vs_dejesus_Rv3916c_day0',
 'eccD1_KO_vs_mbio_H37Rv',
 'espI_KO_vs_mbio_H37Rv',
 'griffin_cholesterol_vs_griffin_glycerol',
 'griffin_glycerol_vs_mbio_H37Rv',
 'kieser_dPonA1_vs_mbio_H37Rv',
 'korte_2016_otsa_trehalose_vs_korte_2016_otsa_7h9',
 'marP_KO_vs_marP_WT',
 'minato_minimal_plate_vs_minato_rich_plate',
 'mishra_C3H_vs_mishra_B6',
 'mishra_NOS2_vs_mishra_B6',
 'mishra_NOS2_vs_mishra_C3H',
 'nambi_2015_ctpC_vs_nambi_2015_wt',
 'ritterhaus_hypoxia_H3_vs_ritterhaus_hypoxia_input',
 'ritterhaus_hypoxia_H6_vs_ritterhaus_hypoxia_input',
 'xu_emb_2.5_vs_xu_emb_0',
 'xu_emb_3_vs_xu_emb_0',
 'xu_inh_025_vs_xu_inh_0',
 'xu_inh_02_vs_xu_inh_0',
 'xu_mero_2.5_vs_xu_mero_0',
 'xu_rif_4_vs_xu_rif_0',
 'xu_van_16_vs_xu_van_0',
 'zhang_AA_Rescue_vs_zhang_in_vitro_control_Rescue',
 'zhang_DETA-NO_pH_7.0_vs_zhang_pH_7.0_no_NO_control',
 'zhang_Fe_1.5mM_vs_zhang_Fe_450uM',
 'zhang_Trp_Rescue_vs_zhang_in_vitro_control_Rescue',
 'zhang_Tyloxapol_pH_6.5_vs_zhang_Tyloxapol_pH_4.5',
 'zhang_Tyloxapol_pH_6.5_vs_zhang_pcit_pH_4.5',
 'zhang_mhcii_mouse_d10_vs_zhang_wt_mouse_d10',
 'zhang_mhcii_mouse_d45_vs_zhang_wt_mouse_d45',
 'zhang_wt_mouse_d10_vs_zhang_input_library',
 'zhang_wt_mouse_d45_vs_zhang_input_library']

Load Carey et al. SI file on excluded repetitive regions:

In [4]:
path_temp = '/home/adrian/Documents/repos/mtb_tn_db/dep/data'
file_rep = os.path.join(path_temp, 'Carey_S1_Table.xlsx')
df_rep = pd.read_excel(file_rep)
df_rep.rename(columns = {'Rv Number': 'Rv_ID'}, inplace = True)
df_rep.shape

(300, 2)

Deleted genes:

In [5]:
file_del = os.path.join(path_temp, 'Carey_S2_Table.xlsx')
xl = pd.ExcelFile(file_del)
sheets = xl.sheet_names  # see all sheet names
dict_df_del = {}
for sheet in sheets:
    df_temp =  xl.parse(sheet)
    df_temp.rename(columns = {'Rv Number': 'Rv_ID'}, inplace = True)
    dict_df_del[sheet] = df_temp # read a specific sheet to DataFrame

Duplicated regions

In [6]:
df_rv_id_num = df_bin[['Rv_ID']].copy()
rv_num = [ rv[2:].strip('c').strip('A').strip('B') for rv in df_rv_id_num.Rv_ID.values]
df_rv_id_num['rv_num'] = rv_num
df_rv_id_num.head(2)

    Rv_ID rv_num
0  Rv0001   0001
1  Rv0002   0002

In [7]:
dict_list_dup = {}

In [8]:
list_dup_temp_num = [str(i) for i in range(3219, 3429)]
list_dup_temp_rv = df_rv_id_num[df_rv_id_num.rv_num.isin(list_dup_temp_num)].Rv_ID.to_list()
dict_list_dup['621'] = list_dup_temp_rv
dict_list_dup['631'] = list_dup_temp_rv
dict_list_dup['632'] = list_dup_temp_rv

list_dup_temp_num = [str(i) for i in range(3188, 3429)]
list_dup_temp_rv = df_rv_id_num[df_rv_id_num.rv_num.isin(list_dup_temp_num)].Rv_ID.to_list()
dict_list_dup['662'] = list_dup_temp_rv
dict_list_dup['667'] = list_dup_temp_rv

dict_list_dup['630'] = []
dict_list_dup['641'] = []
dict_list_dup['663'] = []

## Let's compare old Carey results vs. new Carey results:

### Load older carey datasets:

In [9]:
file_old = '../../dep/data/Tn_library_DB.xlsx'
df_old = pd.read_excel(file_old)
cols_old = [col for col in df_old.columns if 'Carey' in col]

In [119]:
df_old.shape

(3990, 60)

In [10]:
cols_new = [col for col in df_bin.columns if 'carey_rv' in col]
# cols_new = [col for col in df_bin.columns if 'carey' in col and 'mbio' in col]
col_map = list(zip(cols_old, cols_new))
col_map

[('2018_Carey_1A', 'carey_621_vs_carey_rv'),
 ('2018_Carey_1B', 'carey_630_vs_carey_rv'),
 ('2018_Carey_1C', 'carey_631_vs_carey_rv'),
 ('2018_Carey_1D', 'carey_632_vs_carey_rv'),
 ('2018_Carey_1E', 'carey_641_vs_carey_rv'),
 ('2018_Carey_1F', 'carey_662_vs_carey_rv'),
 ('2018_Carey_1G', 'carey_663_vs_carey_rv'),
 ('2018_Carey_1H', 'carey_667_vs_carey_rv')]

How do I exclude genes in the repetitive regions list?

In [11]:
# cols = col_map[0]
# df_bin_col = df_bin[['Rv_ID', cols[1]]].copy()
# df_old_col = df_old[['Rv_ID', cols[0]]].copy()
# df_bin_both = df_bin_col.merge(df_old_col, how = 'inner', on = 'Rv_ID')

# file_out = os.path.join('../../dep/data/', cols[1]+'.xlsx')
# writer = pd.ExcelWriter(file_out, engine='xlsxwriter')

# df_bin_both[ (df_bin_both[cols[0]]==1) & (df_bin_both[cols[1]]==0) ].to_excel(writer, sheet_name = 'CES_old_nonCES_new', index = False)
# df_bin_both[ (df_bin_both[cols[0]]==0) & (df_bin_both[cols[1]]==1) ].to_excel(writer, sheet_name = 'nonCES_old_CES_new', index = False)

# writer.save()

In [73]:
list_num_both_CES = []
list_num_both_nonCES = []
list_num_CES_old_nonCES_new = []
list_num_nonCES_old_CES_new = []

for cols in col_map:
    key_strain = cols[1].split('_')[1]
    
    df_bin_col = df_bin[['Rv_ID', cols[1]]].copy()
    df_old_col = df_old[['Rv_ID', cols[0]]].copy()
    
    df_bin_both = df_bin_col.merge(df_old_col, how = 'inner', on = 'Rv_ID')
    
    # excluding repetitive genes (same across all clinical strains)
    df_bin_both = df_bin_both[~df_bin_both.Rv_ID.isin(df_rep.Rv_ID)]
    
    # excluding deleted genes (strain specific)
    df_del = dict_df_del[key_strain]
    df_bin_both = df_bin_both[~df_bin_both.Rv_ID.isin(df_del.Rv_ID)]
    print('Excluded', df_del.shape[0], 'genes deleted in strain:', key_strain )
    
    # excluding genes in duplicated regions (same across all clinical strains)
    list_dup = dict_list_dup[key_strain]
    df_bin_both = df_bin_both[~df_bin_both.Rv_ID.isin(list_dup)]
    print('Excluded', len(list_dup), 'genes in duplicated region of strain:', key_strain, '\n' )
    
    #####
    file_out = os.path.join('../../dep/data/', cols[1]+'.xlsx')
    writer = pd.ExcelWriter(file_out, engine='xlsxwriter')
    df_bin_both[ (df_bin_both[cols[0]]==1) & (df_bin_both[cols[1]]==0) ].to_excel(writer, sheet_name = 'CES_old_nonCES_new', index = False)
    df_bin_both[ (df_bin_both[cols[0]]==0) & (df_bin_both[cols[1]]==1) ].to_excel(writer, sheet_name = 'nonCES_old_CES_new', index = False)
    writer.save()

    num_both_CES = df_bin_both[ (df_bin_both[cols[0]]==1) & (df_bin_both[cols[1]]==1) ].shape[0]
    num_both_nonCES = df_bin_both[ (df_bin_both[cols[0]]==0) & (df_bin_both[cols[1]]==0) ].shape[0]
    num_CES_old_nonCES_new = df_bin_both[ (df_bin_both[cols[0]]==1) & (df_bin_both[cols[1]]==0) ].shape[0]
    num_nonCES_old_CES_new = df_bin_both[ (df_bin_both[cols[0]]==0) & (df_bin_both[cols[1]]==1) ].shape[0]

    list_num_both_CES.append(num_both_CES)
    list_num_both_nonCES.append(num_both_nonCES)
    list_num_CES_old_nonCES_new.append(num_CES_old_nonCES_new)
    list_num_nonCES_old_CES_new.append(num_nonCES_old_CES_new)
    
df_map = pd.DataFrame()
df_map['screen'] = [col[1] for col in col_map]
df_map['both_CES'] = list_num_both_CES
df_map['num_both_nonCES'] = list_num_both_nonCES
df_map['num_CES_old_nonCES_new'] = list_num_CES_old_nonCES_new
df_map['num_nonCES_old_CES_new'] = list_num_nonCES_old_CES_new

Excluded 14 genes deleted in strain: 621
Excluded 216 genes in duplicated region of strain: 621

Excluded 3 genes deleted in strain: 630
Excluded 0 genes in duplicated region of strain: 630

Excluded 19 genes deleted in strain: 631
Excluded 216 genes in duplicated region of strain: 631

Excluded 23 genes deleted in strain: 632
Excluded 216 genes in duplicated region of strain: 632

Excluded 7 genes deleted in strain: 641
Excluded 0 genes in duplicated region of strain: 641

Excluded 14 genes deleted in strain: 662
Excluded 253 genes in duplicated region of strain: 662

Excluded 6 genes deleted in strain: 663
Excluded 0 genes in duplicated region of strain: 663

Excluded 10 genes deleted in strain: 667
Excluded 253 genes in duplicated region of strain: 667

In [75]:
file_out = '../../dep/data/sanity_check_Carey_no_reps_07_2020.csv'
df_map.to_csv(file_out, index = False)

### 08/01/2020 from Michael: 
#### "comparing one of the conditions, with different flags for the resampling (e.g. LOESS, ignoring N/C terminal sites), which may explain discrepancies."

In [94]:
path_data_temp = '../../data/standardized_data/'
file_663_1 = os.path.join(path_data_temp, 'result_resampling_carey_663_vs_carey_rv_LOESS.txt')
file_663_2 = os.path.join(path_data_temp, 'result_resampling_carey_663_vs_carey_rv_LOESS_term15.txt')
file_663_3 = os.path.join(path_data_temp, 'result_resampling_carey_663_vs_carey_rv_LOESS_term15_2.txt')

list_files = [file_663_1, file_663_2, file_663_3]

list_file_names = ['663_'+f.split('rv_')[-1].split('.')[0] for f in list_files]

In [51]:
cols = col_map[-2]
cols

('2018_Carey_1G', 'carey_663_vs_carey_rv')

Testing with one dataset:

In [98]:
def file_to_bin(file, col):
    
    df = pd.read_csv(file, sep = '\t', skiprows=[0, 1, 2, 3, 4, 5])
    df.rename(columns = {'#Orf':'Rv_ID'}, inplace=True)
    df = df[['Rv_ID', 'log2FC', 'Adj. p-value']]

    df_qvals = df[['Rv_ID', 'Adj. p-value']].copy()
    df_qvals.rename(columns = {'Adj. p-value': col}, inplace = True)
    df_log2fc = df[['Rv_ID', 'log2FC']].copy()
    df_log2fc.rename(columns = {'log2FC': col}, inplace = True)
    df_bin = df_qvals.copy()

    # binarize
    # set thresholds
    qval_thresh = 0.05
    log2fc_tresh = 1
    # binarize
    df_bin.loc[ (df_qvals[col] <= qval_thresh) & (df_log2fc[col].abs() >= log2fc_tresh), col ] = 1
    df_bin.loc[ (df_qvals[col] > qval_thresh), col ] = 0  
    df_bin.loc[(df_log2fc[col].abs() < log2fc_tresh), col] = 0
    
    return df_bin, df_log2fc, df_qvals

In [99]:
#file = list_files[0]
list_num_both_CES = []
list_num_both_nonCES = []
list_num_CES_old_nonCES_new = []
list_num_nonCES_old_CES_new = []
col = cols[-1]

for i in range(len(list_files)):
    file = list_files[i]
    print(file)
    df_bin, df_log2fc, df_qvals = file_to_bin(file, col)
    # Compare SI data vs. Michael's new data:

    key_strain = cols[1].split('_')[1]
    df_bin_col = df_bin[['Rv_ID', cols[1]]].copy()
    df_old_col = df_old[['Rv_ID', cols[0]]].copy()
    df_bin_both = df_bin_col.merge(df_old_col, how = 'inner', on = 'Rv_ID')

    # excluding repetitive genes (same across all clinical strains)
    df_bin_both = df_bin_both[~df_bin_both.Rv_ID.isin(df_rep.Rv_ID)]

    # excluding deleted genes (strain specific)
    df_del = dict_df_del[key_strain]
    df_bin_both = df_bin_both[~df_bin_both.Rv_ID.isin(df_del.Rv_ID)]
    print('Excluded', df_del.shape[0], 'genes deleted in strain:', key_strain )

    # excluding genes in duplicated regions (same across all clinical strains)
    list_dup = dict_list_dup[key_strain]
    df_bin_both = df_bin_both[~df_bin_both.Rv_ID.isin(list_dup)]
    print('Excluded', len(list_dup), 'genes in duplicated region of strain:', key_strain, '\n' )
    
    #####
    file_out = os.path.join('../../dep/data/', list_file_names[i]+'.xlsx')
    writer = pd.ExcelWriter(file_out, engine='xlsxwriter')
    df_bin_both[ (df_bin_both[cols[0]]==1) & (df_bin_both[cols[1]]==0) ].to_excel(writer, sheet_name = 'CES_old_nonCES_new', index = False)
    df_bin_both[ (df_bin_both[cols[0]]==0) & (df_bin_both[cols[1]]==1) ].to_excel(writer, sheet_name = 'nonCES_old_CES_new', index = False)
    writer.save()

    num_both_CES = df_bin_both[ (df_bin_both[cols[0]]==1) & (df_bin_both[cols[1]]==1) ].shape[0]
    num_both_nonCES = df_bin_both[ (df_bin_both[cols[0]]==0) & (df_bin_both[cols[1]]==0) ].shape[0]
    num_CES_old_nonCES_new = df_bin_both[ (df_bin_both[cols[0]]==1) & (df_bin_both[cols[1]]==0) ].shape[0]
    num_nonCES_old_CES_new = df_bin_both[ (df_bin_both[cols[0]]==0) & (df_bin_both[cols[1]]==1) ].shape[0]
    
    list_num_both_CES.append(num_both_CES)
    list_num_both_nonCES.append(num_both_nonCES)
    list_num_CES_old_nonCES_new.append(num_CES_old_nonCES_new)
    list_num_nonCES_old_CES_new.append(num_nonCES_old_CES_new)

../../data/standardized_data/result_resampling_carey_663_vs_carey_rv_LOESS.txt
Excluded 6 genes deleted in strain: 663
Excluded 0 genes in duplicated region of strain: 663

../../data/standardized_data/result_resampling_carey_663_vs_carey_rv_LOESS_term15.txt
Excluded 6 genes deleted in strain: 663
Excluded 0 genes in duplicated region of strain: 663

../../data/standardized_data/result_resampling_carey_663_vs_carey_rv_LOESS_term15_2.txt
Excluded 6 genes deleted in strain: 663
Excluded 0 genes in duplicated region of strain: 663

In [112]:
rvid = 'Rv2228c'

In [113]:
df_qvals[df_qvals.Rv_ID == rvid]

        Rv_ID  carey_663_vs_carey_rv
2260  Rv2228c                0.02015

In [114]:
df_log2fc[df_log2fc.Rv_ID == rvid]

        Rv_ID  carey_663_vs_carey_rv
2260  Rv2228c                   3.26

In [115]:
df_old_col[df_old_col.Rv_ID == rvid]

        Rv_ID  2018_Carey_1G
2261  Rv2228c              0

In [117]:
df_map = pd.DataFrame()
df_map['screen'] = list_file_names
df_map['both_CES'] = list_num_both_CES
df_map['num_both_nonCES'] = list_num_both_nonCES
df_map['num_CES_old_nonCES_new'] = list_num_CES_old_nonCES_new
df_map['num_nonCES_old_CES_new'] = list_num_nonCES_old_CES_new

file_out = '../../dep/data/sanity_check_Carey_663_08012020.csv'
df_map.to_csv(file_out, index = False)

## Let's compare all screens:

In [120]:
file_col_desc = '../../data/column_descriptors_standardized.xlsx'
df_col_desc = pd.read_excel(file_col_desc)

In [121]:
col_map = list(zip(df_col_desc.column_ID.values, df_col_desc.column_ID_2.values))
col_map_pairs = [cm for cm in col_map if cm[0] in df_old.columns]

In [122]:
col_map_pairs

[('2011_Griffin_2', 'griffin_cholesterol_vs_griffin_glycerol'),
 ('2013_DeJesus', 'griffin_glycerol_vs_mbio_H37Rv'),
 ('2013_Zhang_3A', 'zhang_Tyloxapol_pH_6.5_vs_zhang_Tyloxapol_pH_4.5'),
 ('2013_Zhang_3B', 'zhang_Tyloxapol_pH_6.5_vs_zhang_pcit_pH_4.5'),
 ('2013_Zhang_3C', 'zhang_DETA-NO_pH_7.0_vs_zhang_pH_7.0_no_NO_control'),
 ('2013_Zhang_3D', 'zhang_Trp_Rescue_vs_zhang_in_vitro_control_Rescue'),
 ('2016_Korte', 'korte_2016_otsa_trehalose_vs_korte_2016_otsa_7h9'),
 ('2017_Xu_1E', 'xu_mero_2.5_vs_xu_mero_0'),
 ('2018_Carey_1A', 'carey_621_vs_mbio_H37Rv'),
 ('2018_Carey_1B', 'carey_630_vs_mbio_H37Rv'),
 ('2018_Carey_1C', 'carey_631_vs_mbio_H37Rv'),
 ('2018_Carey_1D', 'carey_632_vs_mbio_H37Rv'),
 ('2018_Carey_1E', 'carey_641_vs_mbio_H37Rv'),
 ('2018_Carey_1F', 'carey_662_vs_mbio_H37Rv'),
 ('2018_Carey_1G', 'carey_663_vs_mbio_H37Rv'),
 ('2018_Carey_1H', 'carey_667_vs_mbio_H37Rv')]

#### Which screens are we missing to pair up with the new dataset?

In [123]:
col_map_missing = [cm for cm in col_map if cm[0] not in df_old.columns]
df_col_map_missing = pd.DataFrame()
df_col_map_missing['old_name'] = [cm[0] for cm in col_map_missing]
df_col_map_missing['new_name'] = [cm[1] for cm in col_map_missing]
df_col_map_missing

                  old_name                                           new_name
0            2013_Zhang_1A          zhang_wt_mouse_d10_vs_zhang_input_library
1            2013_Zhang_1B          zhang_wt_mouse_d45_vs_zhang_input_library
2            2013_Zhang_2A        zhang_mhcii_mouse_d10_vs_zhang_wt_mouse_d10
3            2013_Zhang_2B        zhang_mhcii_mouse_d45_vs_zhang_wt_mouse_d45
4            2013_Zhang_3E   zhang_AA_Rescue_vs_zhang_in_vitro_control_Rescue
5            2013_Zhang_3F                   zhang_Fe_1.5mM_vs_zhang_Fe_450uM
6            2015_Kieser_1                        kieser_dPonA1_vs_mbio_H37Rv
7             2015_Nambi_1                   nambi_2015_ctpC_vs_nambi_2015_wt
8          2017B_DeJesus_1          dejesus_H37Rv_day32_vs_dejesus_H37Rv_day0
9         2017B_DeJesus_2A          dejesus_Rv1432_day0_vs_dejesus_H37Rv_day0
10        2017B_DeJesus_2B        dejesus_Rv1432_day32_vs_dejesus_Rv1432_day0
11        2017B_DeJesus_2C        dejesus_Rv1432_day32_vs_dejesus_H37Rv_day32
12        2017B_DeJesus_3A         dejesus_Rv1565c_day0_vs_dejesus_H37Rv_day0
13        2017B_DeJesus_3B      dejesus_Rv1565c_day32_vs_dejesus_Rv1565c_day0
14        2017B_DeJesus_3C       dejesus_Rv1565c_day32_vs_dejesus_H37Rv_day32
15        2017B_DeJesus_4A          dejesus_Rv2680_day0_vs_dejesus_H37Rv_day0
16        2017B_DeJesus_4B        dejesus_Rv2680_day32_vs_dejesus_Rv2680_day0
17        2017B_DeJesus_4C        dejesus_Rv2680_day32_vs_dejesus_H37Rv_day32
18               2017_Xu_1                              xu_van_16_vs_xu_van_0
19               2017_Xu_2                               xu_rif_4_vs_xu_rif_0
20              2017_Xu_3A                              xu_inh_02_vs_xu_inh_0
21              2017_Xu_3B                             xu_inh_025_vs_xu_inh_0
22              2017_Xu_4A                             xu_emb_2.5_vs_xu_emb_0
23              2017_Xu_4B                               xu_emb_3_vs_xu_emb_0
24           2017_Mishra_1                            mishra_C3H_vs_mishra_B6
25           2017_Mishra_2                           mishra_NOS2_vs_mishra_B6
26           2017_Mishra_3                          mishra_NOS2_vs_mishra_C3H
27      2018_Rittershaus_1  ritterhaus_hypoxia_H3_vs_ritterhaus_hypoxia_input
28      2018_Rittershaus_2  ritterhaus_hypoxia_H6_vs_ritterhaus_hypoxia_input
29        2019_Bellerose_1  bellerose_MB_d21_untreated_vs_bellerose_MB_pre...
30        2019_Bellerose_2  bellerose_MB_HRZE_wk1_vs_bellerose_MB_pretreat...
31        2019_Bellerose_3  bellerose_MB_HRZE_wk1_vs_bellerose_MB_d21_untr...
32             2019_Minato          minato_minimal_plate_vs_minato_rich_plate
33        flute_Rv0307c_KO      dejesus_Rv0307c_day32_vs_dejesus_Rv0307c_day0
34        flute_Rv3916c_KO      dejesus_Rv3916c_day32_vs_dejesus_Rv3916c_day0
35        flute_Rv0950c_KO                                Rv0950c_KO_vs_CB_WT
36         flute_Rv0954_KO                                 Rv0954_KO_vs_RJ_WT
37         flute_Rv1096_KO                                 Rv1096_KO_vs_CB_WT
38  flute_Rv3005c_KO_day32            Rv3005c_KO_day32_vs_dejesus_H37Rv_day32
39         flute_Rv3594_KO                        Rv3594_KO_vs_Rubin_FLUTE_WT
40         flute_Rv3684_KO                                 Rv3684_KO_vs_CB_WT
41         flute_Rv3717_KO                        Rv3717_KO_vs_Rubin_FLUTE_WT
42         flute_Rv3811_KO                        Rv3811_KO_vs_Rubin_FLUTE_WT
43           flute_marP_KO                                 marP_KO_vs_marP_WT
44          flute_eccD1_KO                             eccD1_KO_vs_mbio_H37Rv
45           flute_espI_KO                              espI_KO_vs_mbio_H37Rv
46           flute_PE35_KO                              PE35_KO_vs_mbio_H37Rv
47          flute_PPE68_KO                             PPE68_KO_vs_mbio_H37Rv

In [117]:
# file_missing = '../../dep/data/column_map_missing.xlsx'
# df_col_map_missing.to_excel(file_missing, index = False)

##### Also store the column names for your old dataset:

In [127]:
df_col_names_old = pd.DataFrame()
df_col_names_old['old_DB_names'] = df_old.columns

file_col_names_old = '../../dep/data/column_names_old_08022020.xlsx'
df_col_names_old.to_excel(file_col_names_old, index = False)

In [126]:
df_col_names_old.shape

(60, 1)

## You can now add a few more screens to the set for which you have a column name mapping (old-to-new datasets)

In [128]:
file_missing = '../../dep/data/column_map_missing.xlsx'
df_col_map_missing = pd.read_excel(file_missing)
df_col_map_missing.head(3)

        old_name                                     new_name
0  2013_Zhang_1A    zhang_wt_mouse_d10_vs_zhang_input_library
1   2013_Zhang_1    zhang_wt_mouse_d45_vs_zhang_input_library
2  2013_Zhang_2A  zhang_mhcii_mouse_d10_vs_zhang_wt_mouse_d10

In [129]:
col_map_v2 = list(zip(df_col_map_missing.old_name.values, df_col_map_missing.new_name.values))
col_map_pairs_v2 = [cm for cm in col_map_v2 if cm[0] in df_old.columns]
col_map_pairs_v2

[('2013_Zhang_1', 'zhang_wt_mouse_d45_vs_zhang_input_library'),
 ('2017B_DeJesus_1A', 'dejesus_Rv1432_day32_vs_dejesus_H37Rv_day32'),
 ('2017B_DeJesus_1B', 'dejesus_Rv1565c_day32_vs_dejesus_H37Rv_day32'),
 ('2017B_DeJesus_1C', 'dejesus_Rv2680_day32_vs_dejesus_H37Rv_day32'),
 ('2017_Xu_1A', 'xu_van_16_vs_xu_van_0'),
 ('2017_Xu_1B', 'xu_rif_4_vs_xu_rif_0'),
 ('2018_Rittershaus_1B', 'ritterhaus_hypoxia_H3_vs_ritterhaus_hypoxia_input'),
 ('2018_Rittershaus_1A', 'ritterhaus_hypoxia_H6_vs_ritterhaus_hypoxia_input'),
 ('Rv0307c', 'dejesus_Rv0307c_day32_vs_dejesus_Rv0307c_day0'),
 ('Rv3916c', 'dejesus_Rv3916c_day32_vs_dejesus_Rv3916c_day0'),
 ('Rv0950', 'Rv0950c_KO_vs_CB_WT'),
 ('Rv0954', 'Rv0954_KO_vs_RJ_WT'),
 ('Rv1096', 'Rv1096_KO_vs_CB_WT'),
 ('Rv3005c', 'Rv3005c_KO_day32_vs_dejesus_H37Rv_day32'),
 ('Rv3594', 'Rv3594_KO_vs_Rubin_FLUTE_WT'),
 ('Rv3684', 'Rv3684_KO_vs_CB_WT'),
 ('Rv3717', 'Rv3717_KO_vs_Rubin_FLUTE_WT'),
 ('Rv3811', 'Rv3811_KO_vs_Rubin_FLUTE_WT'),
 ('marP', 'marP_KO_vs_marP_WT')]

In [130]:
col_map_pairs += col_map_pairs_v2
col_map_pairs

[('2011_Griffin_2', 'griffin_cholesterol_vs_griffin_glycerol'),
 ('2013_DeJesus', 'griffin_glycerol_vs_mbio_H37Rv'),
 ('2013_Zhang_3A', 'zhang_Tyloxapol_pH_6.5_vs_zhang_Tyloxapol_pH_4.5'),
 ('2013_Zhang_3B', 'zhang_Tyloxapol_pH_6.5_vs_zhang_pcit_pH_4.5'),
 ('2013_Zhang_3C', 'zhang_DETA-NO_pH_7.0_vs_zhang_pH_7.0_no_NO_control'),
 ('2013_Zhang_3D', 'zhang_Trp_Rescue_vs_zhang_in_vitro_control_Rescue'),
 ('2016_Korte', 'korte_2016_otsa_trehalose_vs_korte_2016_otsa_7h9'),
 ('2017_Xu_1E', 'xu_mero_2.5_vs_xu_mero_0'),
 ('2018_Carey_1A', 'carey_621_vs_mbio_H37Rv'),
 ('2018_Carey_1B', 'carey_630_vs_mbio_H37Rv'),
 ('2018_Carey_1C', 'carey_631_vs_mbio_H37Rv'),
 ('2018_Carey_1D', 'carey_632_vs_mbio_H37Rv'),
 ('2018_Carey_1E', 'carey_641_vs_mbio_H37Rv'),
 ('2018_Carey_1F', 'carey_662_vs_mbio_H37Rv'),
 ('2018_Carey_1G', 'carey_663_vs_mbio_H37Rv'),
 ('2018_Carey_1H', 'carey_667_vs_mbio_H37Rv'),
 ('2013_Zhang_1', 'zhang_wt_mouse_d45_vs_zhang_input_library'),
 ('2017B_DeJesus_1A', 'dejesus_Rv1432_day32_vs_dejesus_H37Rv_day32'),
 ('2017B_DeJesus_1B', 'dejesus_Rv1565c_day32_vs_dejesus_H37Rv_day32'),
 ('2017B_DeJesus_1C', 'dejesus_Rv2680_day32_vs_dejesus_H37Rv_day32'),
 ('2017_Xu_1A', 'xu_van_16_vs_xu_van_0'),
 ('2017_Xu_1B', 'xu_rif_4_vs_xu_rif_0'),
 ('2018_Rittershaus_1B', 'ritterhaus_hypoxia_H3_vs_ritterhaus_hypoxia_input'),
 ('2018_Rittershaus_1A', 'ritterhaus_hypoxia_H6_vs_ritterhaus_hypoxia_input'),
 ('Rv0307c', 'dejesus_Rv0307c_day32_vs_dejesus_Rv0307c_day0'),
 ('Rv3916c', 'dejesus_Rv3916c_day32_vs_dejesus_Rv3916c_day0'),
 ('Rv0950', 'Rv0950c_KO_vs_CB_WT'),
 ('Rv0954', 'Rv0954_KO_vs_RJ_WT'),
 ('Rv1096', 'Rv1096_KO_vs_CB_WT'),
 ('Rv3005c', 'Rv3005c_KO_day32_vs_dejesus_H37Rv_day32'),
 ('Rv3594', 'Rv3594_KO_vs_Rubin_FLUTE_WT'),
 ('Rv3684', 'Rv3684_KO_vs_CB_WT'),
 ('Rv3717', 'Rv3717_KO_vs_Rubin_FLUTE_WT'),
 ('Rv3811', 'Rv3811_KO_vs_Rubin_FLUTE_WT'),
 ('marP', 'marP_KO_vs_marP_WT')]

### Do the sanity check for the screens for which you have a column name mapping (old-to-new datasets:)

In [139]:
list_num_both_CES = []
list_num_both_nonCES = []
list_num_CES_old_nonCES_new = []
list_num_nonCES_old_CES_new = []

for cols in col_map_pairs:
    
    df_bin_col = df_bin[['Rv_ID', cols[1]]].copy()
    df_old_col = df_old[['Rv_ID', cols[0]]].copy()
    df_bin_both = df_bin_col.merge(df_old_col, how = 'inner', on = 'Rv_ID')

    num_both_CES = df_bin_both[ (df_bin_both[cols[0]]==1) & (df_bin_both[cols[1]]==1) ].shape[0]
    num_both_nonCES = df_bin_both[ (df_bin_both[cols[0]]==0) & (df_bin_both[cols[1]]==0) ].shape[0]
    num_CES_old_nonCES_new = df_bin_both[ (df_bin_both[cols[0]]==1) & (df_bin_both[cols[1]]==0) ].shape[0]
    num_nonCES_old_CES_new = df_bin_both[ (df_bin_both[cols[0]]==0) & (df_bin_both[cols[1]]==1) ].shape[0]

    list_num_both_CES.append(num_both_CES)
    list_num_both_nonCES.append(num_both_nonCES)
    list_num_CES_old_nonCES_new.append(num_CES_old_nonCES_new)
    list_num_nonCES_old_CES_new.append(num_nonCES_old_CES_new)
    
df_map = pd.DataFrame()

df_map['screen_old_ID'] = [col[0] for col in col_map_pairs]
df_map['screen_new_ID'] = [col[1] for col in col_map_pairs]

df_map['both_CES'] = list_num_both_CES
df_map['both_nonCES'] = list_num_both_nonCES
df_map['CES_old_nonCES_new'] = list_num_CES_old_nonCES_new
df_map['nonCES_old_CES_new'] = list_num_nonCES_old_CES_new

In [141]:
file_out = '../../dep/data/sanity_check_02172020.csv'
df_map.to_csv(file_out, index = False)

In [140]:
df_map.sort_values(by='screen_old_ID', ascending=True, inplace=True)
df_map.reset_index(inplace=True, drop=True)
df_map

,screen_old_ID,screen_new_ID,both_CES,both_nonCES,CES_old_nonCES_new,nonCES_old_CES_new
0,2011_Griffin_2,griffin_cholesterol_vs_griffin_glycerol,59,3877,37,17
1,2013_DeJesus,griffin_glycerol_vs_mbio_H37Rv,20,3214,647,109
2,2013_Zhang_1,zhang_wt_mouse_d45_vs_zhang_input_library,253,3335,327,75
3,2013_Zhang_3A,zhang_Tyloxapol_pH_6.5_vs_zhang_Tyloxapol_pH_4.5,3,3958,1,28
4,2013_Zhang_3B,zhang_Tyloxapol_pH_6.5_vs_zhang_pcit_pH_4.5,7,3909,14,60
5,2013_Zhang_3C,zhang_DETA-NO_pH_7.0_vs_zhang_pH_7.0_no_NO_con...,11,3949,1,29
6,2013_Zhang_3D,zhang_Trp_Rescue_vs_zhang_in_vitro_control_Rescue,2,3968,10,10
7,2016_Korte,korte_2016_otsa_trehalose_vs_korte_2016_otsa_7h9,2,3854,134,0
8,2017B_DeJesus_1A,dejesus_Rv1432_day32_vs_dejesus_H37Rv_day32,19,3841,27,103
9,2017B_DeJesus_1B,dejesus_Rv1565c_day32_vs_dejesus_H37Rv_day32,54,3701,36,199
10,2017B_DeJesus_1C,dejesus_Rv2680_day32_vs_dejesus_H37Rv_day32,30,3853,54,53
11,2017_Xu_1A,xu_van_16_vs_xu_van_0,72,3880,17,2
12,2017_Xu_1B,xu_rif_4_vs_xu_rif_0,62,3896,13,0
13,2017_Xu_1E,xu_mero_2.5_vs_xu_mero_0,41,3861,69,0
14,2018_Carey_1A,carey_621_vs_mbio_H37Rv,8,3759,27,196
15,2018_Carey_1B,carey_630_vs_mbio_H37Rv,9,3847,24,110
16,2018_Carey_1C,carey_631_vs_mbio_H37Rv,10,3797,31,152
17,2018_Carey_1D,carey_632_vs_mbio_H37Rv,5,3833,9,143
18,2018_Carey_1E,carey_641_vs_mbio_H37Rv,6,3864,6,114
19,2018_Carey_1F,carey_662_vs_mbio_H37Rv,10,3831,8,141
20,2018_Carey_1G,carey_663_vs_mbio_H37Rv,19,3753,29,189
21,2018_Carey_1H,carey_667_vs_mbio_H37Rv,8,3826,5,151
22,2018_Rittershaus_1A,ritterhaus_hypoxia_H6_vs_ritterhaus_hypoxia_input,98,3773,3,116
23,2018_Rittershaus_1B,ritterhaus_hypoxia_H3_vs_ritterhaus_hypoxia_input,27,3921,3,39
24,Rv0307c,dejesus_Rv0307c_day32_vs_dejesus_Rv0307c_day0,7,3429,547,7
25,Rv0950,Rv0950c_KO_vs_CB_WT,13,3971,5,1
26,Rv0954,Rv0954_KO_vs_RJ_WT,40,3910,12,28
27,Rv1096,Rv1096_KO_vs_CB_WT,11,3972,7,0
28,Rv3005c,Rv3005c_KO_day32_vs_dejesus_H37Rv_day32,13,3532,445,0
29,Rv3594,Rv3594_KO_vs_Rubin_FLUTE_WT,24,3954,11,1
30,Rv3684,Rv3684_KO_vs_CB_WT,2,3987,1,0
31,Rv3717,Rv3717_KO_vs_Rubin_FLUTE_WT,67,3900,23,0
32,Rv3811,Rv3811_KO_vs_Rubin_FLUTE_WT,26,3949,15,0
33,Rv3916c,dejesus_Rv3916c_day32_vs_dejesus_Rv3916c_day0,10,3649,283,48
34,marP,marP_KO_vs_marP_WT,262,3693,34,1

# Follow-up in more detail on a few:

## FLUTE database TnSeq screens:

In [97]:
col_map_pairs_FLUTE = [cm for cm in col_map_pairs if 'Rv' in cm[0] or 'marP' in cm[0]]

In [100]:
path_FLUTE = '/home/adrian/Documents/repos/mtb_tn_db/data/SI_datasets/FLUTE_KO_TnSeq/'

In [112]:
list_num_both_CES = []
list_num_both_nonCES = []
list_num_CES_old_nonCES_new = []
list_num_nonCES_old_CES_new = []

for cols in col_map_pairs_FLUTE:
    file_SI = os.path.join(path_FLUTE, 'H37Rv_'+cols[0]+'.xlsx')
    df_SI = pd.read_excel(file_SI)
    
    df_SI.loc[ (df_SI['p-adj'] <= 0.05) & (df_SI['log2FC'].abs() >= 1), cols[0]]=1
    df_SI.loc[ df_SI['p-adj'] > 0.05, cols[0]]= 0
    df_SI.loc[ df_SI['log2FC'].abs() < 1, cols[0]]= 0
    df_SI = df_SI[['Rv_ID', 'Name', cols[0]]]
    
    df_bin_col = df_bin[['Rv_ID', cols[1]]].copy()
    df_bin_both = df_SI.merge(df_bin_col, how = 'inner', on = 'Rv_ID')

    num_both_CES = df_bin_both[ (df_bin_both[cols[0]]==1) & (df_bin_both[cols[1]]==1) ].shape[0]
    num_both_nonCES = df_bin_both[ (df_bin_both[cols[0]]==0) & (df_bin_both[cols[1]]==0) ].shape[0]
    num_CES_old_nonCES_new = df_bin_both[ (df_bin_both[cols[0]]==1) & (df_bin_both[cols[1]]==0) ].shape[0]
    num_nonCES_old_CES_new = df_bin_both[ (df_bin_both[cols[0]]==0) & (df_bin_both[cols[1]]==1) ].shape[0]

    list_num_both_CES.append(num_both_CES)
    list_num_both_nonCES.append(num_both_nonCES)
    list_num_CES_old_nonCES_new.append(num_CES_old_nonCES_new)
    list_num_nonCES_old_CES_new.append(num_nonCES_old_CES_new)
    
df_map = pd.DataFrame()

df_map['screen_old_ID'] = [col[0] for col in col_map_pairs_FLUTE]
df_map['screen_new_ID'] = [col[1] for col in col_map_pairs_FLUTE]

df_map['both_CES'] = list_num_both_CES
df_map['both_nonCES'] = list_num_both_nonCES
df_map['CES_old_nonCES_new'] = list_num_CES_old_nonCES_new
df_map['nonCES_old_CES_new'] = list_num_nonCES_old_CES_new

In [113]:
df_map

,screen_old_ID,screen_new_ID,both_CES,both_nonCES,CES_old_nonCES_new,nonCES_old_CES_new
0,Rv0307c,dejesus_Rv0307c_day32_vs_dejesus_Rv0307c_day0,7,3433,543,7
1,Rv3916c,dejesus_Rv3916c_day32_vs_dejesus_Rv3916c_day0,10,3652,280,48
2,Rv0950,Rv0950c_KO_vs_CB_WT,13,3971,5,1
3,Rv0954,Rv0954_KO_vs_RJ_WT,40,3910,12,28
4,Rv1096,Rv1096_KO_vs_CB_WT,11,3972,7,0
5,Rv3005c,Rv3005c_KO_day32_vs_dejesus_H37Rv_day32,13,3532,445,0
6,Rv3594,Rv3594_KO_vs_Rubin_FLUTE_WT,24,3954,11,1
7,Rv3684,Rv3684_KO_vs_CB_WT,2,3987,1,0
8,Rv3717,Rv3717_KO_vs_Rubin_FLUTE_WT,67,3901,22,0
9,Rv3811,Rv3811_KO_vs_Rubin_FLUTE_WT,26,3949,15,0
10,marP,marP_KO_vs_marP_WT,260,3717,10,3

* Why are the two datasets so different? 
* Did Michael use a different control screen?
* Where did those FLUTE files come from? 
    * They come from the .dat files I downloaded directly from FLUTE.

### Griffing cholesterol:

In [19]:
cols = col_map[0]
df_bin_col = df_bin[['Rv_ID', cols[1]]].copy()
df_old_col = df_old[['Rv_ID', cols[0]]].copy()
df_bin_both = df_bin_col.merge(df_old_col, how = 'inner', on = 'Rv_ID')

In [20]:
df_CES_old_nonCES_new = df_bin_both[ (df_bin_both[cols[0]]==1) & (df_bin_both[cols[1]]==0) ]
df_nonCES_old_CES_new = df_bin_both[ (df_bin_both[cols[0]]==0) & (df_bin_both[cols[1]]==1) ]

Get the gene names:

In [26]:
file_mbio = '../../data/SI_datasets/2017A_DeJesus_Iorger/table_1.xlsx'
df_mbio = pd.read_excel(file_mbio)
df_mbio = df_mbio[['Rv_ID', 'Name']]

In [35]:
df_CES_old_nonCES_new_wNames = df_CES_old_nonCES_new.merge(df_mbio, how = 'inner', on = 'Rv_ID')
df_CES_old_nonCES_new_wNames = df_CES_old_nonCES_new_wNames[['Rv_ID', 'Name', 'griffin_cholesterol_vs_griffin_glycerol', '2011_Griffin_2']]

file_out = '../../dep/data/sanity_check_griffin_CES_OLD_nonCES_NEW.csv'
df_CES_old_nonCES_new_wNames.to_csv(file_out, index = False)

In [36]:
df_nonCES_old_CES_new_wNames = df_nonCES_old_CES_new.merge(df_mbio, how = 'inner', on = 'Rv_ID')
df_nonCES_old_CES_new_wNames = df_nonCES_old_CES_new_wNames[['Rv_ID', 'Name', 'griffin_cholesterol_vs_griffin_glycerol', '2011_Griffin_2']]

file_out = '../../dep/data/sanity_check_griffin_nonCES_OLD_CES_NEW.csv'
df_nonCES_old_CES_new_wNames.to_csv(file_out, index = False)

In [38]:
df_CES_old_nonCES_new_wNames

      Rv_ID    Name  griffin_cholesterol_vs_griffin_glycerol  2011_Griffin_2
0    Rv0009    ppiA                                      0.0               1
1   Rv0153c    ptbB                                      0.0               1
2   Rv0202c  mmpL11                                      0.0               1
3    Rv0655     mkl                                      0.0               1
4    Rv0695       -                                      0.0               1
5    Rv0696       -                                      0.0               1
6   Rv0876c       -                                      0.0               1
7   Rv1071c   echA9                                      0.0               1
8    Rv1084       -                                      0.0               1
9    Rv1096       -                                      0.0               1
10  Rv1608c    bcpB                                      0.0               1
11   Rv1798   eccA5                                      0.0               1
12  Rv1906c       -                                      0.0               1
13  Rv1919c       -                                      0.0               1
14  Rv2118c       -                                      0.0               1
15   Rv2206       -                                      0.0               1
16  Rv2239c       -                                      0.0               1
17  Rv2416c     eis                                      0.0               1
18   Rv2668       -                                      0.0               1
19   Rv2681       -                                      0.0               1
20   Rv2710    sigB                                      0.0               1
21   Rv2799       -                                      0.0               1
22  Rv2914c    pknI                                      0.0               1
23   Rv2985   mutT1                                      0.0               1
24  Rv3050c       -                                      0.0               1
25  Rv3274c  fadE25                                      0.0               1
26  Rv3419c     gcp                                      0.0               1
27  Rv3515c  fadD19                                      0.0               1
28  Rv3534c    hsaF                                      0.0               1
29  Rv3536c    hsaE                                      0.0               1
30  Rv3548c       -                                      0.0               1
31   Rv3572       -                                      0.0               1
32  Rv3573c  fadE34                                      0.0               1
33   Rv3779       -                                      0.0               1
34  Rv3820c   papA2                                      0.0               1
35  Rv3824c   papA1                                      0.0               1
36   Rv3911    sigM                                      0.0               1

### Korte 2016:

In [59]:
cols = [cm for cm in col_map if 'Korte' in cm[0]][0]
df_bin_col = df_bin[['Rv_ID', cols[1]]].copy()
df_old_col = df_old[['Rv_ID', cols[0]]].copy()
df_bin_both = df_bin_col.merge(df_old_col, how = 'inner', on = 'Rv_ID')

CES in the old dataset, but not the new one:

In [63]:
df_bin_both[ (df_bin_both[cols[0]]==1) & (df_bin_both[cols[1]]==0) ].Rv_ID.values

array(['Rv0012', 'Rv0092', 'Rv0166', 'Rv0169', 'Rv0191', 'Rv0210',
       'Rv0234c', 'Rv0244c', 'Rv0263c', 'Rv0270', 'Rv0279c', 'Rv0280',
       'Rv0281', 'Rv0386', 'Rv0443', 'Rv0449c', 'Rv0483', 'Rv0492c',
       'Rv0501', 'Rv0570', 'Rv0574c', 'Rv0613c', 'Rv0630c', 'Rv0727c',
       'Rv0746', 'Rv0747', 'Rv0754', 'Rv0767c', 'Rv0782', 'Rv0861c',
       'Rv0877', 'Rv0889c', 'Rv0890c', 'Rv0914c', 'Rv0976c', 'Rv1180',
       'Rv1181', 'Rv1206', 'Rv1212c', 'Rv1232c', 'Rv1235', 'Rv1236',
       'Rv1238', 'Rv1244', 'Rv1262c', 'Rv1266c', 'Rv1283c', 'Rv1323',
       'Rv1442', 'Rv1632c', 'Rv1710', 'Rv1727', 'Rv1737c', 'Rv1745c',
       'Rv1768', 'Rv1770', 'Rv1795', 'Rv1796', 'Rv1820', 'Rv1823',
       'Rv1836c', 'Rv1840c', 'Rv1864c', 'Rv1902c', 'Rv1908c', 'Rv1910c',
       'Rv1971', 'Rv1991c', 'Rv2000', 'Rv2052c', 'Rv2065', 'Rv2066',
       'Rv2074', 'Rv2115c', 'Rv2159c', 'Rv2209', 'Rv2214c', 'Rv2224c',
       'Rv2236c', 'Rv2241', 'Rv2328', 'Rv2329c', 'Rv2394', 'Rv2458',
       'Rv2487c', 'Rv2559c', 'Rv2564', 'Rv2615c', 'Rv2636', 'Rv2681',
       'Rv2690c', 'Rv2800', 'Rv2859c', 'Rv2860c', 'Rv2896c', 'Rv2917',
       'Rv2930', 'Rv2931', 'Rv2932', 'Rv2933', 'Rv2934', 'Rv2935',
       'Rv2940c', 'Rv2941', 'Rv2967c', 'Rv3059', 'Rv3119', 'Rv3196',
       'Rv3220c', 'Rv3263', 'Rv3296', 'Rv3308', 'Rv3312c', 'Rv3329',
       'Rv3345c', 'Rv3388', 'Rv3414c', 'Rv3450c', 'Rv3479', 'Rv3507',
       'Rv3512', 'Rv3563', 'Rv3575c', 'Rv3590c', 'Rv3649', 'Rv3657c',
       'Rv3664c', 'Rv3728', 'Rv3731', 'Rv3787c', 'Rv3822', 'Rv3824c',
       'Rv3825c', 'Rv3903c'], dtype=object)