In [1]:
import pandas as pd

In [12]:
file_david = '../../data/other_data/David_gene_list.xlsx'
df_david = pd.read_excel(file_david)
df_david.rename(columns={'Compound':'gene_name'}, inplace=True)
df_david.head()

  gene_name   HitRate        Hits
0     prcBA  0.206648  659.000000
1      lipA  0.204766  652.999999
2    Rv3267  0.202571  646.000000
3      murG  0.198495  633.000000
4     desA2  0.197868  631.000000

In [13]:
file = '../../data/Tn_library_DB.xlsx'
df_db = pd.read_excel(file)
df_db = df_db[['Rv_ID', 'gene_name']]

In [14]:
df_db.head()

    Rv_ID gene_name
0  Rv0001      dnaA
1  Rv0002      dnaN
2  Rv0003      recF
3  Rv0004         -
4  Rv0005      gyrB

In [16]:
df_david = df_david.merge(df_db, on='gene_name', how='left')
df_david = df_david[['Rv_ID', 'gene_name', 'HitRate', 'Hits']]
df_david.to_excel(file_david, index=False)