# Objective: 
Given a protein family dataframe (obtained from UniProt), fetch Rhea identifiers.

In [1]:
import pandas as pd
import os
import re
import seaborn as sns
import numpy as np

In [2]:
file_in = '../data/annotations/uniprot-proteome_UP000001584.tab'
df = pd.read_csv(file_in, sep = '\t')

In [4]:
df.head(2)

,Entry,Entry name,Status,Protein names,Gene names,Organism,Length,Annotation,Rhea ID,EC number,Catalytic activity,ChEBI,Sequence,Function [CC]
0,L7N6B4,MOAD_MYCTU,reviewed,Molybdopterin synthase sulfur carrier subunit,moaD1 Rv3112 LH57_16990,Mycobacterium tuberculosis (strain ATCC 25618 ...,83,2 out of 5,NaN,NaN,NaN,NaN,MIKVNVLYFGAVREACDETPREEVEVQNGTDVGNLVDQLQQKYPRL...,FUNCTION: Involved in sulfur transfer in the c...
1,P9WJM5,MSRA_MYCTU,reviewed,Peptide methionine sulfoxide reductase MsrA (P...,msrA Rv0137c MTCI5.11c,Mycobacterium tuberculosis (strain ATCC 25618 ...,182,4 out of 5,RHEA:14217; RHEA:19993,1.8.4.11,CATALYTIC ACTIVITY: Reaction=[thioredoxin]-dis...,H2O [CHEBI:15377]; L-methionine [CHEBI:57844];...,MTSNQKAILAGGCFWGLQDLIRNQPGVVSTRVGYSGGNIPNATYRN...,FUNCTION: Has an important function as a repai...

In [15]:
df_no_null = df[~df['Rhea ID'].isnull()].copy()

### Fetching Rhea IDs:

In [16]:
df_no_null.shape

(862, 14)

In [17]:
list_up_entry = []
list_rhea_ids = []

for index, row in df_Rhea.iterrows():
    up_entry = row['Entry']
    rhea_ids = row['Rhea ID'].split(';')
    rhea_ids = [rid.split(':')[1] for rid in rhea_ids]
    list_rhea_ids+=rhea_ids
    list_up_entry+=len(rhea_ids)*[up_entry]

df_UP_rhea = pd.DataFrame()
df_UP_rhea['Entry'] = list_up_entry
df_UP_rhea['RheaID'] = list_rhea_ids

In [20]:
df_UP_rhea.shape

(1825, 2)

In [21]:
file_out = '../data/up_to_rhea.csv'
df_UP_rhea.to_csv(file_out, index = False)

In [22]:
df_UP_rhea.head()

    Entry RheaID
0  P9WJM5  14217
1  P9WJM5  19993
2  P9WHM9  17453
3  P9WGE9  20696
4  P9WG79  24840

In [24]:
df_UP_rhea.RheaID.value_counts().head(10)

10868    19
13065    18
47348    17
57888    15
47356    14
12957    13
17989    12
46608    12
45780    11
47364    11
Name: RheaID, dtype: int64

In [28]:
df_UP_rhea[df_UP_rhea.RheaID=='10868'].Entry.unique()

array(['P9WKC5', 'P9WKC9', 'P9WKA7', 'P9WKB3', 'P9WKA3', 'P9WKC3',
       'P9WKB7', 'P9WKC7', 'P9WQN9', 'P9WQP3', 'P9WQP1', 'P9WKA5',
       'P9WKB1', 'P9WKB5', 'P9WKC1', 'P9WKA9', 'P9WKB9', 'I6Y8R4',
       'O33364'], dtype=object)